/* colorscheme: B4T_67 by Bram de Haan */
/* author: Bram de Haan - https://github.com/atelierbram/Base4Tone */
/* https://github.com/atelierbram/Base4Tone-prism/blob/master/output/prism-b4t_classic-d-dark.css */

code[class*='language-'],
pre[class*='language-'] {
  color: #f9f9f6;
  background: none;
  font-family: Consolas, Menlo, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*='language-']::-moz-selection, pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection, code[class*='language-'] ::-moz-selection {
  background: #6a7703;
}

pre[class*='language-']::selection, pre[class*='language-'] ::selection,
code[class*='language-']::selection, code[class*='language-'] ::selection {
  background: #6a7703;
}

// Code blocks */;
pre[class*='language-'] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #21211c;
}

// Inline code */;
:not(pre) > code[class*='language-'] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #4c4e41;
}

.token.punctuation {
  color: #4c4e41;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.constant,
.token.symbol,
.token.deleted {
  color: #e6971a;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #e6f28c;
}

.token.id {
  color: #809a9d;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #1398aa;
  background: #21211c80;
}

.token.number,
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #b8ed97;
}

.token.function,
.token.class-name {
  color: #e6971a;
}

.token.regex,
.token.important,
.token.variable {
  color: #1398aa;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre[data-line] {
  position: relative;
  padding: 1em 0 1em 3em;
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0;
  margin-top: 1em; /* Same as .prism’s padding-top */;
  background: #41433854;
  background: linear-gradient(to right, #41433854 70%, #41433800);
  pointer-events: none;

  line-height: inherit;
  white-space: pre;
}

.line-highlight:before,
.line-highlight[data-end]:after {
  content: attr(data-start);
  position: absolute;
  top: .4em;
  left: .6em;
  min-width: 1em;
  padding: 0 .5em;
  background-color: #97998554;
  color: #d1d2c6;
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  vertical-align: .3em;
  border-radius: 999px;
  box-shadow: 0 1px white;
}

.line-highlight[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: .4em;
}

.line-numbers .line-highlight:before,
.line-numbers .line-highlight:after {
  content: none;
}

pre[class*='language-'].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre[class*='language-'].line-numbers > code {
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: -3px;
  font-size: 100%;
  left: -3.8em;
  width: 3em; /* works for line-numbers below 1000 lines */;
  letter-spacing: -1px;
  border-right: 1px solid #21211c80;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #37382e;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}
