$A0: hsl(7, 65%,  6%);
$A1: hsl(7, 65%, 11%);
$A2: hsl(7, 65%, 16%);
$A3: hsl(7, 65%, 20%);
$A4: hsl(7, 65%, 24%);
$A5: hsl(7, 65%, 29%);
$A6: hsl(7, 65%, 32%);
$A7: hsl(7, 65%, 35%);
$A8: hsl(7, 65%, 40%);
$A9: hsl(7, 65%, 45%);
$A10: hsl(7, 65%, 51%);
$A11: hsl(7, 65%, 54%);
$A12: hsl(7, 70%, 57%);
$A13: hsl(7, 75%, 60%);
$A14: hsl(7, 75%, 62%);
$A15: hsl(7, 75%, 65%);
$A16: hsl(7, 75%, 69%);
$A17: hsl(7, 80%, 72%);
$A18: hsl(7, 80%, 76%);
$A19: hsl(7, 80%, 80%);
$A20: hsl(7, 90%, 84%);
$A21: hsl(7, 80%, 87%);
$A22: hsl(7, 90%, 91%);
$A23: hsl(7, 100%, 95%);

$B0: hsl(22, 65%, 6%);
$B1: hsl(22, 65%, 9%);
$B2: hsl(22, 65%, 14%);
$B3: hsl(22, 65%, 18%);
$B4: hsl(22, 65%, 22%);
$B5: hsl(22, 65%, 27%);
$B6: hsl(22, 65%, 30%);
$B7: hsl(22, 65%, 34%);
$B8: hsl(22, 65%, 38%);
$B9: hsl(22, 65%, 42%);
$B10: hsl(22, 65%, 46%);
$B11: hsl(22, 65%, 49%);
$B12: hsl(22, 70%, 51%);
$B13: hsl(22, 75%, 53%);
$B14: hsl(22, 75%, 57%);
$B15: hsl(22, 75%, 60%);
$B16: hsl(22, 75%, 62%);
$B17: hsl(22, 80%, 67%);
$B18: hsl(22, 80%, 71%);
$B19: hsl(22, 80%, 75%);
$B20: hsl(22, 80%, 80%);
$B21: hsl(22, 80%, 84%);
$B22: hsl(22, 80%, 89%);
$B23: hsl(22, 100%, 95%);

$C0: hsl(37, 95%,  5%);
$C1: hsl(37, 95%,  9%);
$C2: hsl(37, 95%, 12%);
$C3: hsl(37, 95%, 15%);
$C4: hsl(37, 95%, 18%);
$C5: hsl(37, 95%, 22%);
$C6: hsl(37, 95%, 25%);
$C7: hsl(37, 95%, 28%);
$C8: hsl(37, 95%, 30%);
$C9: hsl(37, 95%, 32%);
$C10: hsl(37, 95%, 35%);
$C11: hsl(37, 95%, 37%);
$C12: hsl(37, 95%, 39%);
$C13: hsl(37, 90%, 42%);
$C14: hsl(37, 90%, 44%);
$C15: hsl(37, 80%, 48%);
$C16: hsl(37, 80%, 50%);
$C17: hsl(37, 80%, 54%);
$C18: hsl(37, 80%, 58%);
$C19: hsl(37, 80%, 66%);
$C20: hsl(37, 80%, 76%);
$C21: hsl(37, 80%, 81%);
$C22: hsl(37, 80%, 88%);
$C23: hsl(37, 100%, 95%);

$D0: hsl(52, 95%,  5%);
$D1: hsl(52, 95%,  8%);
$D2: hsl(52, 95%, 11%);
$D3: hsl(52, 95%, 13%);
$D4: hsl(52, 95%, 15%);
$D5: hsl(52, 95%, 18%);
$D6: hsl(52, 95%, 21%);
$D7: hsl(52, 95%, 24%);
$D8: hsl(52, 95%, 26%);
$D9: hsl(52, 95%, 28%);
$D10: hsl(52, 95%, 30%);
$D11: hsl(52, 95%, 32%);
$D12: hsl(52, 95%, 33%);
$D13: hsl(52, 90%, 36%);
$D14: hsl(52, 90%, 38%);
$D15: hsl(52, 80%, 42%);
$D16: hsl(52, 80%, 45%);
$D17: hsl(52, 80%, 48%);
$D18: hsl(52, 80%, 50%);
$D19: hsl(52, 80%, 60%);
$D20: hsl(52, 80%, 75%);
$D21: hsl(52, 80%, 83%);
$D22: hsl(52, 80%, 89%);
$D23: hsl(52, 100%, 95%);

$E0: hsl(67, 95%,  5%);
$E1: hsl(67, 95%,  8%);
$E2: hsl(67, 95%, 11%);
$E3: hsl(67, 95%, 13%);
$E4: hsl(67, 95%, 15%);
$E5: hsl(67, 95%, 18%);
$E6: hsl(67, 95%, 21%);
$E7: hsl(67, 95%, 24%);
$E8: hsl(67, 95%, 26%);
$E9: hsl(67, 95%, 28%);
$E10: hsl(67, 95%, 30%);
$E11: hsl(67, 95%, 32%);
$E12: hsl(67, 95%, 33%);
$E13: hsl(67, 90%, 36%);
$E14: hsl(67, 90%, 38%);
$E15: hsl(67, 80%, 42%);
$E16: hsl(67, 80%, 45%);
$E17: hsl(67, 80%, 48%);
$E18: hsl(67, 80%, 50%);
$E19: hsl(67, 80%, 64%);
$E20: hsl(67, 80%, 75%);
$E21: hsl(67, 80%, 83%);
$E22: hsl(67, 80%, 89%);
$E23: hsl(67, 100%, 95%);

$F0: hsl(82, 95%,  5%);
$F1: hsl(82, 95%,  8%);
$F2: hsl(82, 95%, 11%);
$F3: hsl(82, 95%, 13%);
$F4: hsl(82, 95%, 15%);
$F5: hsl(82, 95%, 18%);
$F6: hsl(82, 95%, 21%);
$F7: hsl(82, 95%, 24%);
$F8: hsl(82, 95%, 26%);
$F9: hsl(82, 95%, 28%);
$F10: hsl(82, 95%, 30%);
$F11: hsl(82, 95%, 32%);
$F12: hsl(82, 95%, 33%);
$F13: hsl(82, 90%, 36%);
$F14: hsl(82, 90%, 38%);
$F15: hsl(82, 80%, 42%);
$F16: hsl(82, 80%, 45%);
$F17: hsl(82, 80%, 48%);
$F18: hsl(82, 80%, 50%);
$F19: hsl(82, 80%, 63%);
$F20: hsl(82, 80%, 75%);
$F21: hsl(82, 80%, 83%);
$F22: hsl(82, 80%, 89%);
$F23: hsl(82, 100%, 95%);

$G0: hsl(97, 85%,  6%);
$G1: hsl(97, 85%,  9%);
$G2: hsl(97, 85%, 12%);
$G3: hsl(97, 85%, 14%);
$G4: hsl(97, 85%, 16%);
$G5: hsl(97, 85%, 19%);
$G6: hsl(97, 85%, 22%);
$G7: hsl(97, 85%, 25%);
$G8: hsl(97, 85%, 27%);
$G9: hsl(97, 85%, 29%);
$G10: hsl(97, 85%, 31%);
$G11: hsl(97, 85%, 33%);
$G12: hsl(97, 85%, 34%);
$G13: hsl(97, 80%, 37%);
$G14: hsl(97, 80%, 39%);
$G15: hsl(97, 70%, 43%);
$G16: hsl(97, 70%, 46%);
$G17: hsl(97, 70%, 49%);
$G18: hsl(97, 70%, 51%);
$G19: hsl(97, 70%, 65%);
$G20: hsl(97, 70%, 76%);
$G21: hsl(97, 70%, 84%);
$G22: hsl(97, 70%, 90%);
$G23: hsl(97, 100%, 95%);

$H0: hsl(112,785%,  6%);
$H1: hsl(112, 85%,  9%);
$H2: hsl(112, 85%, 12%);
$H3: hsl(112, 85%, 14%);
$H4: hsl(112, 85%, 16%);
$H5: hsl(112, 85%, 19%);
$H6: hsl(112, 85%, 22%);
$H7: hsl(112, 85%, 25%);
$H8: hsl(112, 85%, 27%);
$H9: hsl(112, 85%, 29%);
$H10: hsl(112, 85%, 32%);
$H11: hsl(112, 85%, 34%);
$H12: hsl(112, 85%, 35%);
$H13: hsl(112, 70%, 39%);
$H14: hsl(112, 70%, 41%);
$H15: hsl(112, 70%, 43%);
$H16: hsl(112, 70%, 46%);
$H17: hsl(112, 70%, 49%);
$H18: hsl(112, 70%, 51%);
$H19: hsl(112, 70%, 65%);
$H20: hsl(112, 70%, 76%);
$H21: hsl(112, 70%, 84%);
$H22: hsl(112, 70%, 90%);
$H23: hsl(112, 100%, 96%);

$I0: hsl(127, 85%,  6%);
$I1: hsl(127, 85%,  9%);
$I2: hsl(127, 85%, 12%);
$I3: hsl(127, 85%, 14%);
$I4: hsl(127, 85%, 16%);
$I5: hsl(127, 85%, 19%);
$I6: hsl(127, 85%, 22%);
$I7: hsl(127, 85%, 25%);
$I8: hsl(127, 85%, 27%);
$I9: hsl(127, 85%, 29%);
$I10: hsl(127, 85%, 32%);
$I11: hsl(127, 85%, 34%);
$I12: hsl(127, 85%, 35%);
$I13: hsl(127, 70%, 40%);
$I14: hsl(127, 70%, 42%);
$I15: hsl(127, 70%, 44%);
$I16: hsl(127, 70%, 47%);
$I17: hsl(127, 70%, 51%);
$I18: hsl(127, 70%, 55%);
$I19: hsl(127, 70%, 65%);
$I20: hsl(127, 70%, 76%);
$I21: hsl(127, 70%, 83%);
$I22: hsl(127, 70%, 90%);
$I23: hsl(127, 100%, 96%);

$J0: hsl(142, 95%,  5%);
$J1: hsl(142, 95%,  8%);
$J2: hsl(142, 95%, 11%);
$J3: hsl(142, 95%, 13%);
$J4: hsl(142, 95%, 15%);
$J5: hsl(142, 95%, 18%);
$J6: hsl(142, 95%, 21%);
$J7: hsl(142, 95%, 24%);
$J8: hsl(142, 95%, 26%);
$J9: hsl(142, 95%, 28%);
$J10: hsl(142, 95%, 30%);
$J11: hsl(142, 95%, 32%);
$J12: hsl(142, 95%, 33%);
$J13: hsl(142, 90%, 36%);
$J14: hsl(142, 90%, 38%);
$J15: hsl(142, 80%, 41%);
$J16: hsl(142, 80%, 45%);
$J17: hsl(142, 80%, 47%);
$J18: hsl(142, 80%, 49%);
$J19: hsl(142, 80%, 64%);
$J20: hsl(142, 80%, 75%);
$J21: hsl(142, 80%, 83%);
$J22: hsl(142, 80%, 89%);
$J23: hsl(142, 100%, 95%);

$K0: hsl(157, 95%, 5%);
$K1: hsl(157, 95%, 8%);
$K2: hsl(157, 95%, 11%);
$K3: hsl(157, 95%, 13%);
$K4: hsl(157, 95%, 15%);
$K5: hsl(157, 95%, 18%);
$K6: hsl(157, 95%, 21%);
$K7: hsl(157, 95%, 23%);
$K8: hsl(157, 95%, 25%);
$K9: hsl(157, 95%, 27%);
$K10: hsl(157, 95%, 29%);
$K11: hsl(157, 95%, 31%);
$K12: hsl(157, 95%, 32%);
$K13: hsl(157, 90%, 35%);
$K14: hsl(157, 90%, 37%);
$K15: hsl(157, 80%, 41%);
$K16: hsl(157, 80%, 44%);
$K17: hsl(157, 80%, 47%);
$K18: hsl(157, 80%, 49%);
$K19: hsl(157, 80%, 64%);
$K20: hsl(157, 80%, 75%);
$K21: hsl(157, 80%, 83%);
$K22: hsl(157, 80%, 89%);
$K23: hsl(157, 100%, 95%);

$L0: hsl(172, 100%,  5%);
$L1: hsl(172, 100%,  8%);
$L2: hsl(172, 100%, 11%);
$L3: hsl(172, 100%, 13%);
$L4: hsl(172, 100%, 15%);
$L5: hsl(172, 100%, 17%);
$L6: hsl(172, 100%, 20%);
$L7: hsl(172, 100%, 22%);
$L8: hsl(172, 100%, 24%);
$L9: hsl(172, 100%, 25%);
$L10: hsl(172, 100%, 27%);
$L11: hsl(172,  95%, 30%);
$L12: hsl(172,  85%, 33%);
$L13: hsl(172,  75%, 37%);
$L14: hsl(172,  75%, 39%);
$L15: hsl(172,  75%, 42%);
$L16: hsl(172,  75%, 44%);
$L17: hsl(172,  75%, 47%);
$L18: hsl(172,  70%, 52%);
$L19: hsl(172,  70%, 63%);
$L20: hsl(172,  70%, 75%);
$L21: hsl(172,  70%, 81%);
$L22: hsl(172,  70%, 88%);
$L23: hsl(172,  100%, 96%);

$M0: hsl(187, 95%,  5%);
$M1: hsl(187, 95%,  8%);
$M2: hsl(187, 95%, 12%);
$M3: hsl(187, 95%, 14%);
$M4: hsl(187, 95%, 16%);
$M5: hsl(187, 95%, 19%);
$M6: hsl(187, 95%, 22%);
$M7: hsl(187, 95%, 25%);
$M8: hsl(187, 95%, 26%);
$M9: hsl(187, 95%, 28%);
$M10: hsl(187, 95%, 30%);
$M11: hsl(187,  90%, 33%);
$M12: hsl(187,  80%, 37%);
$M13: hsl(187,  70%, 42%);
$M14: hsl(187,  70%, 44%);
$M15: hsl(187,  70%, 46%);
$M16: hsl(187,  70%, 48%);
$M17: hsl(187,  70%, 55%);
$M18: hsl(187,  70%, 62%);
$M19: hsl(187,  70%, 70%);
$M20: hsl(187,  70%, 79%);
$M21: hsl(187,  70%, 83%);
$M22: hsl(187,  70%, 89%);
$M23: hsl(187,  100%, 96%);

$N0: hsl(202, 97%,  7%);
$N1: hsl(202, 97%, 11%);
$N2: hsl(202, 97%, 15%);
$N3: hsl(202, 97%, 18%);
$N4: hsl(202, 97%, 21%);
$N5: hsl(202, 97%, 25%);
$N6: hsl(202, 97%, 29%);
$N7: hsl(202, 97%, 33%);
$N8: hsl(202, 97%, 36%);
$N9: hsl(202, 97%, 38%);
$N10: hsl(202, 95%, 40%);
$N11: hsl(202, 90%, 43%);
$N12: hsl(202, 90%, 47%);
$N13: hsl(202, 90%, 51%);
$N14: hsl(202, 90%, 54%);
$N15: hsl(202, 90%, 57%);
$N16: hsl(202, 90%, 62%);
$N17: hsl(202, 90%, 68%);
$N18: hsl(202, 90%, 74%);
$N19: hsl(202, 90%, 79%);
$N20: hsl(202, 90%, 84%);
$N21: hsl(202, 90%, 86%);
$N22: hsl(202, 90%, 92%);
$N23: hsl(202, 100%, 97%);

$O0: hsl(217,  80%, 10%);
$O1: hsl(217,  80%, 15%);
$O2: hsl(217,  80%, 20%);
$O3: hsl(217,  80%, 25%);
$O4: hsl(217,  80%, 30%);
$O5: hsl(217,  80%, 35%);
$O6: hsl(217,  80%, 40%);
$O7: hsl(217,  80%, 45%);
$O8: hsl(217,  80%, 50%);
$O9: hsl(217,  80%, 53%);
$O10: hsl(217,  80%, 55%);
$O11: hsl(217,  85%, 58%);
$O12: hsl(217,  90%, 61%);
$O13: hsl(217,  90%, 64%);
$O14: hsl(217,  90%, 66%);
$O15: hsl(217,  95%, 69%);
$O16: hsl(217,  95%, 72%);
$O17: hsl(217,  95%, 76%);
$O18: hsl(217,  95%, 80%);
$O19: hsl(217, 100%, 83%);
$O20: hsl(217, 100%, 88%);
$O21: hsl(217, 100%, 89%);
$O22: hsl(217, 100%, 92%);
$O23: hsl(217, 100%, 97%);

$P0: hsl(232, 71%, 12%);
$P1: hsl(232, 71%, 21%);
$P2: hsl(232, 71%, 29%);
$P3: hsl(232, 71%, 36%);
$P4: hsl(232, 71%, 42%);
$P5: hsl(232, 71%, 48%);
$P6: hsl(232, 71%, 52%);
$P7: hsl(232, 71%, 54%);
$P8: hsl(232, 71%, 57%);
$P9: hsl(232, 76%, 60%);
$P10: hsl(232, 76%, 62%);
$P11: hsl(232, 78%, 64%);
$P12: hsl(232, 78%, 66%);
$P13: hsl(232, 81%, 69%);
$P14: hsl(232, 81%, 71%);
$P15: hsl(232, 86%, 74%);
$P16: hsl(232, 86%, 77%);
$P17: hsl(232, 86%, 80%);
$P18: hsl(232, 86%, 83%);
$P19: hsl(232, 86%, 85%);
$P20: hsl(232, 86%, 88%);
$P21: hsl(232, 86%, 90%);
$P22: hsl(232, 86%, 91%);
$P23: hsl(232, 100%, 97%);

$Q0: hsl(247, 70%, 11%);
$Q1: hsl(247, 70%, 23%);
$Q2: hsl(247, 70%, 30%);
$Q3: hsl(247, 70%, 37%);
$Q4: hsl(247, 70%, 43%);
$Q5: hsl(247, 70%, 48%);
$Q6: hsl(247, 70%, 51%);
$Q7: hsl(247, 70%, 54%);
$Q8: hsl(247, 70%, 58%);
$Q9: hsl(247, 70%, 61%);
$Q10: hsl(247, 70%, 63%);
$Q11: hsl(247, 70%, 65%);
$Q12: hsl(247, 70%, 67%);
$Q13: hsl(247, 75%, 69%);
$Q14: hsl(247, 80%, 71%);
$Q15: hsl(247, 80%, 74%);
$Q16: hsl(247, 80%, 77%);
$Q17: hsl(247, 85%, 80%);
$Q18: hsl(247, 85%, 83%);
$Q19: hsl(247, 85%, 85%);
$Q20: hsl(247, 85%, 89%);
$Q21: hsl(247, 85%, 91%);
$Q22: hsl(247, 85%, 93%);
$Q23: hsl(247, 100%, 97%);

$R0: hsl(262, 70%,  8%);
$R1: hsl(262, 70%, 18%);
$R2: hsl(262, 70%, 25%);
$R3: hsl(262, 70%, 31%);
$R4: hsl(262, 70%, 35%);
$R5: hsl(262, 70%, 40%);
$R6: hsl(262, 70%, 45%);
$R7: hsl(262, 70%, 51%);
$R8: hsl(262, 70%, 55%);
$R9: hsl(262, 70%, 58%);
$R10: hsl(262, 70%, 60%);
$R11: hsl(262, 70%, 62%);
$R12: hsl(262, 70%, 64%);
$R13: hsl(262, 75%, 66%);
$R14: hsl(262, 80%, 68%);
$R15: hsl(262, 80%, 71%);
$R16: hsl(262, 80%, 74%);
$R17: hsl(262, 85%, 77%);
$R18: hsl(262, 85%, 80%);
$R19: hsl(262, 85%, 84%);
$R20: hsl(262, 85%, 87%);
$R21: hsl(262, 85%, 89%);
$R22: hsl(262, 85%, 92%);
$R23: hsl(262, 100%, 96%);

$S0: hsl(277, 65%,  6%);
$S1: hsl(277, 65%, 13%);
$S2: hsl(277, 65%, 19%);
$S3: hsl(277, 65%, 23%);
$S4: hsl(277, 65%, 26%);
$S5: hsl(277, 65%, 30%);
$S6: hsl(277, 65%, 34%);
$S7: hsl(277, 65%, 40%);
$S8: hsl(277, 65%, 47%);
$S9: hsl(277, 65%, 53%);
$S10: hsl(277, 65%, 55%);
$S11: hsl(277, 65%, 57%);
$S12: hsl(277, 70%, 60%);
$S13: hsl(277, 75%, 62%);
$S14: hsl(277, 75%, 64%);
$S15: hsl(277, 75%, 67%);
$S16: hsl(277, 75%, 71%);
$S17: hsl(277, 80%, 74%);
$S18: hsl(277, 80%, 78%);
$S19: hsl(277, 80%, 82%);
$S20: hsl(277, 80%, 85%);
$S21: hsl(277, 80%, 88%);
$S22: hsl(277, 80%, 91%);
$S23: hsl(277, 100%, 95%);

$T0: hsl(292, 65%, 5%);
$T1: hsl(292, 65%, 10%);
$T2: hsl(292, 65%, 16%);
$T3: hsl(292, 65%, 19%);
$T4: hsl(292, 65%, 22%);
$T5: hsl(292, 65%, 27%);
$T6: hsl(292, 65%, 30%);
$T7: hsl(292, 65%, 35%);
$T8: hsl(292, 65%, 41%);
$T9: hsl(292, 65%, 48%);
$T10: hsl(292, 65%, 51%);
$T11: hsl(292, 65%, 53%);
$T12: hsl(292, 70%, 57%);
$T13: hsl(292, 75%, 60%);
$T14: hsl(292, 75%, 62%);
$T15: hsl(292, 75%, 65%);
$T16: hsl(292, 75%, 69%);
$T17: hsl(292, 80%, 72%);
$T18: hsl(292, 80%, 76%);
$T19: hsl(292, 80%, 80%);
$T20: hsl(292, 80%, 83%);
$T21: hsl(292, 80%, 87%);
$T22: hsl(292, 80%, 91%);
$T23: hsl(292, 100%, 95%);

$U0: hsl(307, 65%, 5%);
$U1: hsl(307, 65%, 10%);
$U2: hsl(307, 65%, 15%);
$U3: hsl(307, 65%, 18%);
$U4: hsl(307, 65%, 21%);
$U5: hsl(307, 65%, 26%);
$U6: hsl(307, 65%, 29%);
$U7: hsl(307, 65%, 33%);
$U8: hsl(307, 65%, 39%);
$U9: hsl(307, 65%, 45%);
$U10: hsl(307, 65%, 49%);
$U11: hsl(307, 65%, 52%);
$U12: hsl(307, 70%, 56%);
$U13: hsl(307, 75%, 60%);
$U14: hsl(307, 75%, 62%);
$U15: hsl(307, 75%, 65%);
$U16: hsl(307, 75%, 69%);
$U17: hsl(307, 80%, 72%);
$U18: hsl(307, 80%, 76%);
$U19: hsl(307, 80%, 80%);
$U20: hsl(307, 80%, 83%);
$U21: hsl(307, 80%, 87%);
$U22: hsl(307, 80%, 91%);
$U23: hsl(307, 100%, 95%);

$V0: hsl(322, 65%,  5%);
$V1: hsl(322, 65%,  9%);
$V2: hsl(322, 65%, 15%);
$V3: hsl(322, 65%, 18%);
$V4: hsl(322, 65%, 22%);
$V5: hsl(322, 65%, 27%);
$V6: hsl(322, 65%, 30%);
$V7: hsl(322, 65%, 34%);
$V8: hsl(322, 65%, 39%);
$V9: hsl(322, 65%, 45%);
$V10: hsl(322, 65%, 49%);
$V11: hsl(322, 65%, 52%);
$V12: hsl(322, 70%, 56%);
$V13: hsl(322, 75%, 60%);
$V14: hsl(322, 75%, 62%);
$V15: hsl(322, 75%, 65%);
$V16: hsl(322, 75%, 69%);
$V17: hsl(322, 80%, 72%);
$V18: hsl(322, 80%, 76%);
$V19: hsl(322, 80%, 80%);
$V20: hsl(322, 80%, 83%);
$V21: hsl(322, 80%, 87%);
$V22: hsl(322, 80%, 91%);
$V23: hsl(322, 100%, 95%);

$W0: hsl(337, 65%,  5%);
$W1: hsl(337, 65%, 10%);
$W2: hsl(337, 65%, 15%);
$W3: hsl(337, 65%, 19%);
$W4: hsl(337, 65%, 23%);
$W5: hsl(337, 65%, 28%);
$W6: hsl(337, 65%, 31%);
$W7: hsl(337, 65%, 35%);
$W8: hsl(337, 65%, 40%);
$W9: hsl(337, 65%, 45%);
$W10: hsl(337, 65%, 50%);
$W11: hsl(337, 65%, 53%);
$W12: hsl(337, 70%, 56%);
$W13: hsl(337, 75%, 60%);
$W14: hsl(337, 75%, 62%);
$W15: hsl(337, 75%, 65%);
$W16: hsl(337, 75%, 69%);
$W17: hsl(337, 80%, 72%);
$W18: hsl(337, 80%, 76%);
$W19: hsl(337, 80%, 80%);
$W20: hsl(337, 80%, 83%);
$W21: hsl(337, 80%, 86%);
$W22: hsl(337, 80%, 91%);
$W23: hsl(337, 100%, 95%);

$X0: hsl(352, 65%,  6%);
$X1: hsl(352, 65%, 11%);
$X2: hsl(352, 65%, 16%);
$X3: hsl(352, 65%, 20%);
$X4: hsl(352, 65%, 24%);
$X5: hsl(352, 65%, 29%);
$X6: hsl(352, 65%, 32%);
$X7: hsl(352, 65%, 35%);
$X8: hsl(352, 65%, 40%);
$X9: hsl(352, 65%, 45%);
$X10: hsl(352, 65%, 51%);
$X11: hsl(352, 65%, 54%);
$X12: hsl(352, 70%, 57%);
$X13: hsl(352, 75%, 60%);
$X14: hsl(352, 75%, 62%);
$X15: hsl(352, 75%, 65%);
$X16: hsl(352, 75%, 69%);
$X17: hsl(352, 80%, 72%);
$X18: hsl(352, 80%, 76%);
$X19: hsl(352, 80%, 80%);
$X20: hsl(352, 80%, 83%);
$X21: hsl(352, 80%, 87%);
$X22: hsl(352, 80%, 91%);
$X23: hsl(352, 100%, 95%);

