$a0: hsl(7, 30%,  4%);
$a1: hsl(7, 15%,  8%);
$a2: hsl(7,  8%, 12%);
$a3: hsl(7,  8%, 16%);
$a4: hsl(7,  8%, 20%);
$a5: hsl(7,  8%, 24%);
$a6: hsl(7,  8%, 28%);
$a7: hsl(7,  8%, 32%);
$a8: hsl(7,  8%, 36%);
$a9: hsl(7,  8%, 40%);
$a10: hsl(7,  8%, 44%);
$a11: hsl(7,  8%, 48%);
$a12: hsl(7,  8%, 52%);
$a13: hsl(7,  8%, 56%);
$a14: hsl(7,  8%, 60%);
$a15: hsl(7,  8%, 64%);
$a16: hsl(7,  9%, 68%);
$a17: hsl(7, 10%, 72%);
$a18: hsl(7, 11%, 76%);
$a19: hsl(7, 12%, 80%);
$a20: hsl(7, 13%, 84%);
$a21: hsl(7, 14%, 88%);
$a22: hsl(7, 15%, 92%);
$a23: hsl(7, 20%, 97%);

$b0: hsl(22, 30%,  4%);
$b1: hsl(22, 15%,  8%);
$b2: hsl(22,  9%, 12%);
$b3: hsl(22,  9%, 16%);
$b4: hsl(22,  9%, 20%);
$b5: hsl(22,  9%, 24%);
$b6: hsl(22,  9%, 28%);
$b7: hsl(22,  9%, 32%);
$b8: hsl(22,  9%, 36%);
$b9: hsl(22,  9%, 40%);
$b10: hsl(22,  9%, 44%);
$b11: hsl(22,  9%, 48%);
$b12: hsl(22,  9%, 52%);
$b13: hsl(22,  9%, 56%);
$b14: hsl(22,  9%, 60%);
$b15: hsl(22,  9%, 64%);
$b16: hsl(22,  9%, 68%);
$b17: hsl(22, 10%, 72%);
$b18: hsl(22, 11%, 76%);
$b19: hsl(22, 12%, 80%);
$b20: hsl(22, 13%, 84%);
$b21: hsl(22, 14%, 88%);
$b22: hsl(22, 15%, 92%);
$b23: hsl(22, 20%, 97%);

$c0: hsl(37, 30%,  4%);
$c1: hsl(37, 15%,  8%);
$c2: hsl(37, 10%, 12%);
$c3: hsl(37, 10%, 16%);
$c4: hsl(37, 10%, 20%);
$c5: hsl(37, 10%, 24%);
$c6: hsl(37, 10%, 28%);
$c7: hsl(37, 10%, 32%);
$c8: hsl(37, 10%, 36%);
$c9: hsl(37, 10%, 40%);
$c10: hsl(37, 10%, 44%);
$c11: hsl(37, 10%, 48%);
$c12: hsl(37, 10%, 52%);
$c13: hsl(37, 10%, 56%);
$c14: hsl(37, 10%, 60%);
$c15: hsl(37, 10%, 64%);
$c16: hsl(37, 10%, 68%);
$c17: hsl(37, 10%, 72%);
$c18: hsl(37, 11%, 76%);
$c19: hsl(37, 12%, 80%);
$c20: hsl(37, 13%, 84%);
$c21: hsl(37, 14%, 88%);
$c22: hsl(37, 15%, 92%);
$c23: hsl(37, 20%, 97%);

$d0: hsl(52, 30%,  4%);
$d1: hsl(52, 15%,  8%);
$d2: hsl(52,  9%, 12%);
$d3: hsl(52,  9%, 16%);
$d4: hsl(52,  9%, 20%);
$d5: hsl(52,  9%, 24%);
$d6: hsl(52,  9%, 28%);
$d7: hsl(52,  9%, 32%);
$d8: hsl(52,  9%, 36%);
$d9: hsl(52,  9%, 40%);
$d10: hsl(52,  9%, 44%);
$d11: hsl(52,  9%, 48%);
$d12: hsl(52,  9%, 52%);
$d13: hsl(52,  9%, 56%);
$d14: hsl(52,  9%, 60%);
$d15: hsl(52,  9%, 64%);
$d16: hsl(52,  9%, 68%);
$d17: hsl(52, 10%, 72%);
$d18: hsl(52, 11%, 76%);
$d19: hsl(52, 12%, 80%);
$d20: hsl(52, 13%, 84%);
$d21: hsl(52, 14%, 88%);
$d22: hsl(52, 15%, 92%);
$d23: hsl(52, 20%, 97%);

$e0: hsl(67, 30%,  4%);
$e1: hsl(67, 15%,  8%);
$e2: hsl(67,  9%, 12%);
$e3: hsl(67,  9%, 16%);
$e4: hsl(67,  9%, 20%);
$e5: hsl(67,  9%, 24%);
$e6: hsl(67,  9%, 28%);
$e7: hsl(67,  9%, 32%);
$e8: hsl(67,  9%, 36%);
$e9: hsl(67,  9%, 40%);
$e10: hsl(67,  9%, 44%);
$e11: hsl(67,  9%, 48%);
$e12: hsl(67,  9%, 52%);
$e13: hsl(67,  9%, 56%);
$e14: hsl(67,  9%, 60%);
$e15: hsl(67,  9%, 64%);
$e16: hsl(67,  9%, 68%);
$e17: hsl(67, 10%, 72%);
$e18: hsl(67, 11%, 76%);
$e19: hsl(67, 12%, 80%);
$e20: hsl(67, 13%, 84%);
$e21: hsl(67, 14%, 88%);
$e22: hsl(67, 15%, 92%);
$e23: hsl(67, 20%, 97%);

$f0: hsl(82, 30%,  4%);
$f1: hsl(82, 15%,  8%);
$f2: hsl(82,  8%, 12%);
$f3: hsl(82,  8%, 16%);
$f4: hsl(82,  8%, 20%);
$f5: hsl(82,  8%, 24%);
$f6: hsl(82,  8%, 28%);
$f7: hsl(82,  8%, 32%);
$f8: hsl(82,  8%, 36%);
$f9: hsl(82,  8%, 40%);
$f10: hsl(82,  8%, 44%);
$f11: hsl(82,  8%, 48%);
$f12: hsl(82,  8%, 52%);
$f13: hsl(82,  8%, 56%);
$f14: hsl(82,  8%, 60%);
$f15: hsl(82,  8%, 64%);
$f16: hsl(82,  9%, 68%);
$f17: hsl(82, 10%, 72%);
$f18: hsl(82, 11%, 76%);
$f19: hsl(82, 12%, 80%);
$f20: hsl(82, 13%, 84%);
$f21: hsl(82, 14%, 88%);
$f22: hsl(82, 15%, 92%);
$f23: hsl(82, 20%, 97%);

$g0: hsl(97, 30%,  4%);
$g1: hsl(97, 15%,  8%);
$g2: hsl(97,  9%, 12%);
$g3: hsl(97,  9%, 16%);
$g4: hsl(97,  9%, 20%);
$g5: hsl(97,  9%, 24%);
$g6: hsl(97,  9%, 28%);
$g7: hsl(97,  9%, 32%);
$g8: hsl(97,  9%, 36%);
$g9: hsl(97,  9%, 40%);
$g10: hsl(97,  9%, 44%);
$g11: hsl(97,  9%, 48%);
$g12: hsl(97,  9%, 52%);
$g13: hsl(97,  9%, 56%);
$g14: hsl(97,  9%, 60%);
$g15: hsl(97,  9%, 64%);
$g16: hsl(97,  9%, 68%);
$g17: hsl(97, 10%, 72%);
$g18: hsl(97, 11%, 76%);
$g19: hsl(97, 12%, 80%);
$g20: hsl(97, 13%, 84%);
$g21: hsl(97, 14%, 88%);
$g22: hsl(97, 15%, 92%);
$g23: hsl(97, 20%, 97%);

$h0: hsl(112, 30%,  4%);
$h1: hsl(112, 15%,  8%);
$h2: hsl(112,  9%, 12%);
$h3: hsl(112,  9%, 16%);
$h4: hsl(112,  9%, 20%);
$h5: hsl(112,  9%, 24%);
$h6: hsl(112,  9%, 28%);
$h7: hsl(112,  9%, 32%);
$h8: hsl(112,  9%, 36%);
$h9: hsl(112,  9%, 40%);
$h10: hsl(112,  9%, 44%);
$h11: hsl(112,  9%, 48%);
$h12: hsl(112,  9%, 52%);
$h13: hsl(112,  9%, 56%);
$h14: hsl(112,  9%, 60%);
$h15: hsl(112,  9%, 64%);
$h16: hsl(112,  9%, 68%);
$h17: hsl(112, 10%, 72%);
$h18: hsl(112, 11%, 76%);
$h19: hsl(112, 12%, 80%);
$h20: hsl(112, 13%, 84%);
$h21: hsl(112, 14%, 88%);
$h22: hsl(112, 15%, 92%);
$h23: hsl(112, 20%, 97%);

$i0: hsl(127, 26%,  4%);
$i1: hsl(127, 11%,  8%);
$i2: hsl(127,  5%, 12%);
$i3: hsl(127,  5%, 16%);
$i4: hsl(127,  5%, 20%);
$i5: hsl(127,  5%, 24%);
$i6: hsl(127,  5%, 28%);
$i7: hsl(127,  5%, 32%);
$i8: hsl(127,  5%, 36%);
$i9: hsl(127,  5%, 40%);
$i10: hsl(127,  5%, 44%);
$i11: hsl(127,  5%, 48%);
$i12: hsl(127,  5%, 52%);
$i13: hsl(127,  5%, 56%);
$i14: hsl(127,  5%, 60%);
$i15: hsl(127,  5%, 64%);
$i16: hsl(127,  5%, 68%);
$i17: hsl(127, 6%, 72%);
$i18: hsl(127, 7%, 76%);
$i19: hsl(127, 8%, 80%);
$i20: hsl(127, 9%, 84%);
$i21: hsl(127, 10%, 88%);
$i22: hsl(127, 11%, 92%);
$i23: hsl(127, 16%, 97%);

$j0: hsl(142, 30%,  4%);
$j1: hsl(142, 15%,  8%);
$j2: hsl(142,  9%, 12%);
$j3: hsl(142,  9%, 16%);
$j4: hsl(142,  9%, 20%);
$j5: hsl(142,  9%, 24%);
$j6: hsl(142,  9%, 28%);
$j7: hsl(142,  9%, 32%);
$j8: hsl(142,  9%, 36%);
$j9: hsl(142,  9%, 40%);
$j10: hsl(142,  9%, 44%);
$j11: hsl(142,  9%, 48%);
$j12: hsl(142,  9%, 52%);
$j13: hsl(142,  9%, 56%);
$j14: hsl(142,  9%, 60%);
$j15: hsl(142,  9%, 64%);
$j16: hsl(142,  9%, 68%);
$j17: hsl(142, 10%, 72%);
$j18: hsl(142, 11%, 76%);
$j19: hsl(142, 12%, 80%);
$j20: hsl(142, 13%, 84%);
$j21: hsl(142, 14%, 88%);
$j22: hsl(142, 15%, 92%);
$j23: hsl(142, 20%, 97%);

$k0: hsl(157, 30%,  4%);
$k1: hsl(157, 15%,  8%);
$k2: hsl(157, 10%, 12%);
$k3: hsl(157, 10%, 16%);
$k4: hsl(157, 10%, 20%);
$k5: hsl(157, 10%, 24%);
$k6: hsl(157, 10%, 28%);
$k7: hsl(157, 10%, 32%);
$k8: hsl(157, 10%, 36%);
$k9: hsl(157, 10%, 40%);
$k10: hsl(157, 10%, 44%);
$k11: hsl(157, 10%, 48%);
$k12: hsl(157, 10%, 52%);
$k13: hsl(157, 10%, 56%);
$k14: hsl(157, 10%, 60%);
$k15: hsl(157, 10%, 64%);
$k16: hsl(157, 10%, 68%);
$k17: hsl(157, 10%, 72%);
$k18: hsl(157, 11%, 76%);
$k19: hsl(157, 12%, 80%);
$k20: hsl(157, 13%, 84%);
$k21: hsl(157, 14%, 88%);
$k22: hsl(157, 15%, 92%);
$k23: hsl(157, 20%, 97%);

$l0: hsl(172, 30%,  4%);
$l1: hsl(172, 15%,  8%);
$l2: hsl(172, 11%, 12%);
$l3: hsl(172, 11%, 16%);
$l4: hsl(172, 11%, 20%);
$l5: hsl(172, 11%, 24%);
$l6: hsl(172, 11%, 28%);
$l7: hsl(172, 11%, 32%);
$l8: hsl(172, 11%, 36%);
$l9: hsl(172, 11%, 40%);
$l10: hsl(172, 11%, 44%);
$l11: hsl(172, 11%, 48%);
$l12: hsl(172, 11%, 52%);
$l13: hsl(172, 11%, 56%);
$l14: hsl(172, 11%, 60%);
$l15: hsl(172, 11%, 64%);
$l16: hsl(172, 11%, 68%);
$l17: hsl(172, 11%, 72%);
$l18: hsl(172, 11%, 76%);
$l19: hsl(172, 12%, 80%);
$l20: hsl(172, 13%, 84%);
$l21: hsl(172, 14%, 88%);
$l22: hsl(172, 15%, 92%);
$l23: hsl(172, 20%, 97%);

$m0: hsl(187, 30%,  4%);
$m1: hsl(187, 15%,  8%);
$m2: hsl(187, 13%, 12%);
$m3: hsl(187, 13%, 16%);
$m4: hsl(187, 13%, 20%);
$m5: hsl(187, 13%, 24%);
$m6: hsl(187, 13%, 28%);
$m7: hsl(187, 13%, 32%);
$m8: hsl(187, 13%, 36%);
$m9: hsl(187, 13%, 40%);
$m10: hsl(187, 13%, 44%);
$m11: hsl(187, 13%, 48%);
$m12: hsl(187, 13%, 52%);
$m13: hsl(187, 13%, 56%);
$m14: hsl(187, 13%, 60%);
$m15: hsl(187, 13%, 64%);
$m16: hsl(187, 13%, 68%);
$m17: hsl(187, 13%, 72%);
$m18: hsl(187, 13%, 76%);
$m19: hsl(187, 13%, 80%);
$m20: hsl(187, 13%, 84%);
$m21: hsl(187, 14%, 88%);
$m22: hsl(187, 15%, 92%);
$m23: hsl(187, 20%, 97%);

$n0: hsl(202, 30%,  4%);
$n1: hsl(202, 15%,  8%);
$n2: hsl(202, 15%, 12%);
$n3: hsl(202, 15%, 16%);
$n4: hsl(202, 15%, 20%);
$n5: hsl(202, 15%, 24%);
$n6: hsl(202, 15%, 28%);
$n7: hsl(202, 15%, 32%);
$n8: hsl(202, 15%, 36%);
$n9: hsl(202, 15%, 40%);
$n10: hsl(202, 15%, 44%);
$n11: hsl(202, 15%, 48%);
$n12: hsl(202, 15%, 52%);
$n13: hsl(202, 15%, 56%);
$n14: hsl(202, 15%, 60%);
$n15: hsl(202, 15%, 64%);
$n16: hsl(202, 15%, 68%);
$n17: hsl(202, 15%, 72%);
$n18: hsl(202, 15%, 76%);
$n19: hsl(202, 15%, 80%);
$n20: hsl(202, 15%, 84%);
$n21: hsl(202, 15%, 88%);
$n22: hsl(202, 15%, 92%);
$n23: hsl(202, 20%, 97%);

$o0: hsl(217, 30%,  4%);
$o1: hsl(217, 16%,  8%);
$o2: hsl(217, 16%, 12%);
$o3: hsl(217, 16%, 16%);
$o4: hsl(217, 16%, 20%);
$o5: hsl(217, 16%, 24%);
$o6: hsl(217, 16%, 28%);
$o7: hsl(217, 16%, 32%);
$o8: hsl(217, 16%, 36%);
$o9: hsl(217, 16%, 40%);
$o10: hsl(217, 16%, 44%);
$o11: hsl(217, 16%, 48%);
$o12: hsl(217, 16%, 52%);
$o13: hsl(217, 16%, 56%);
$o14: hsl(217, 16%, 60%);
$o15: hsl(217, 16%, 64%);
$o16: hsl(217, 16%, 68%);
$o17: hsl(217, 16%, 72%);
$o18: hsl(217, 16%, 76%);
$o19: hsl(217, 16%, 80%);
$o20: hsl(217, 16%, 84%);
$o21: hsl(217, 16%, 88%);
$o22: hsl(217, 16%, 92%);
$o23: hsl(217, 20%, 97%);

$p0: hsl(232, 30%,  4%);
$p1: hsl(232, 15%,  8%);
$p2: hsl(232,  9%, 12%);
$p3: hsl(232,  9%, 16%);
$p4: hsl(232,  9%, 20%);
$p5: hsl(232,  9%, 24%);
$p6: hsl(232,  9%, 28%);
$p7: hsl(232,  9%, 32%);
$p8: hsl(232,  9%, 36%);
$p9: hsl(232,  9%, 40%);
$p10: hsl(232,  9%, 44%);
$p11: hsl(232,  9%, 48%);
$p12: hsl(232,  9%, 52%);
$p13: hsl(232,  9%, 56%);
$p14: hsl(232,  9%, 60%);
$p15: hsl(232,  9%, 64%);
$p16: hsl(232,  9%, 68%);
$p17: hsl(232, 10%, 72%);
$p18: hsl(232, 11%, 76%);
$p19: hsl(232, 12%, 80%);
$p20: hsl(232, 13%, 84%);
$p21: hsl(232, 14%, 88%);
$p22: hsl(232, 15%, 92%);
$p23: hsl(232, 20%, 97%);

$q0: hsl(247, 28%,  4%);
$q1: hsl(247, 13%,  8%);
$q2: hsl(247,  5%, 12%);
$q3: hsl(247,  5%, 16%);
$q4: hsl(247,  5%, 20%);
$q5: hsl(247,  5%, 24%);
$q6: hsl(247,  5%, 28%);
$q7: hsl(247,  5%, 32%);
$q8: hsl(247,  5%, 36%);
$q9: hsl(247,  5%, 40%);
$q10: hsl(247,  5%, 44%);
$q11: hsl(247,  5%, 48%);
$q12: hsl(247,  5%, 52%);
$q13: hsl(247,  5%, 56%);
$q14: hsl(247,  5%, 60%);
$q15: hsl(247,  6%, 64%);
$q16: hsl(247,  7%, 68%);
$q17: hsl(247,  8%, 72%);
$q18: hsl(247,  9%, 76%);
$q19: hsl(247,  10%, 80%);
$q20: hsl(247,  11%, 84%);
$q21: hsl(247,  12%, 88%);
$q22: hsl(247,  13%, 92%);
$q23: hsl(247,  18%, 97%);

$r0: hsl(262, 28%,  4%);
$r1: hsl(262, 13%,  8%);
$r2: hsl(262,  5%, 12%);
$r3: hsl(262,  5%, 16%);
$r4: hsl(262,  5%, 20%);
$r5: hsl(262,  5%, 24%);
$r6: hsl(262,  5%, 28%);
$r7: hsl(262,  5%, 32%);
$r8: hsl(262,  5%, 36%);
$r9: hsl(262,  5%, 40%);
$r10: hsl(262,  5%, 44%);
$r11: hsl(262,  5%, 48%);
$r12: hsl(262,  5%, 52%);
$r13: hsl(262,  5%, 56%);
$r14: hsl(262,  5%, 60%);
$r15: hsl(262,  6%, 64%);
$r16: hsl(262,  7%, 68%);
$r17: hsl(262,  8%, 72%);
$r18: hsl(262,  9%, 76%);
$r19: hsl(262,  10%, 80%);
$r20: hsl(262,  11%, 84%);
$r21: hsl(262,  12%, 88%);
$r22: hsl(262,  13%, 92%);
$r23: hsl(262,  18%, 97%);

$s0: hsl(277, 28%,  4%);
$s1: hsl(277, 13%,  8%);
$s2: hsl(277,  5%, 12%);
$s3: hsl(277,  5%, 16%);
$s4: hsl(277,  5%, 20%);
$s5: hsl(277,  5%, 24%);
$s6: hsl(277,  5%, 28%);
$s7: hsl(277,  5%, 32%);
$s8: hsl(277,  5%, 36%);
$s9: hsl(277,  5%, 40%);
$s10: hsl(277,  5%, 44%);
$s11: hsl(277,  5%, 48%);
$s12: hsl(277,  5%, 52%);
$s13: hsl(277,  5%, 56%);
$s14: hsl(277,  5%, 60%);
$s15: hsl(277,  6%, 64%);
$s16: hsl(277,  7%, 68%);
$s17: hsl(277,  8%, 72%);
$s18: hsl(277,  9%, 76%);
$s19: hsl(277, 10%, 80%);
$s20: hsl(277, 11%, 84%);
$s21: hsl(277, 12%, 88%);
$s22: hsl(277, 13%, 92%);
$s23: hsl(277, 18%, 97%);

$t0: hsl(292, 28%,  4%);
$t1: hsl(292, 13%,  8%);
$t2: hsl(292,  5%, 12%);
$t3: hsl(292,  5%, 16%);
$t4: hsl(292,  5%, 20%);
$t5: hsl(292,  5%, 24%);
$t6: hsl(292,  5%, 28%);
$t7: hsl(292,  5%, 32%);
$t8: hsl(292,  5%, 36%);
$t9: hsl(292,  5%, 40%);
$t10: hsl(292,  5%, 44%);
$t11: hsl(292,  5%, 48%);
$t12: hsl(292,  5%, 52%);
$t13: hsl(292,  5%, 56%);
$t14: hsl(292,  5%, 60%);
$t15: hsl(292,  6%, 64%);
$t16: hsl(292,  7%, 68%);
$t17: hsl(292,  8%, 72%);
$t18: hsl(292,  9%, 76%);
$t19: hsl(292,  10%, 80%);
$t20: hsl(292,  11%, 84%);
$t21: hsl(292,  12%, 88%);
$t22: hsl(292,  13%, 92%);
$t23: hsl(292,  18%, 97%);

$u0: hsl(307, 28%,  4%);
$u1: hsl(307, 13%,  8%);
$u2: hsl(307,  5%, 12%);
$u3: hsl(307,  5%, 16%);
$u4: hsl(307,  5%, 20%);
$u5: hsl(307,  5%, 24%);
$u6: hsl(307,  5%, 28%);
$u7: hsl(307,  5%, 32%);
$u8: hsl(307,  5%, 36%);
$u9: hsl(307,  5%, 40%);
$u10: hsl(307,  5%, 44%);
$u11: hsl(307,  5%, 48%);
$u12: hsl(307,  5%, 52%);
$u13: hsl(307,  5%, 56%);
$u14: hsl(307,  5%, 60%);
$u15: hsl(307,  6%, 64%);
$u16: hsl(307,  7%, 68%);
$u17: hsl(307,  8%, 72%);
$u18: hsl(307,  9%, 76%);
$u19: hsl(307, 10%, 80%);
$u20: hsl(307, 11%, 84%);
$u21: hsl(307, 12%, 88%);
$u22: hsl(307, 13%, 92%);
$u23: hsl(307, 18%, 97%);

$v0: hsl(322, 28%,  4%);
$v1: hsl(322, 13%,  8%);
$v2: hsl(322,  5%, 12%);
$v3: hsl(322,  5%, 16%);
$v4: hsl(322,  5%, 20%);
$v5: hsl(322,  5%, 24%);
$v6: hsl(322,  5%, 28%);
$v7: hsl(322,  5%, 32%);
$v8: hsl(322,  5%, 36%);
$v9: hsl(322,  5%, 40%);
$v10: hsl(322,  5%, 44%);
$v11: hsl(322,  5%, 48%);
$v12: hsl(322,  5%, 52%);
$v13: hsl(322,  5%, 56%);
$v14: hsl(322,  5%, 60%);
$v15: hsl(322,  6%, 64%);
$v16: hsl(322,  7%, 68%);
$v17: hsl(322,  8%, 72%);
$v18: hsl(322,  9%, 76%);
$v19: hsl(322, 10%, 80%);
$v20: hsl(322, 11%, 84%);
$v21: hsl(322, 12%, 88%);
$v22: hsl(322, 13%, 92%);
$v23: hsl(322, 18%, 97%);

$w0: hsl(337, 24%,  4%);
$w1: hsl(337, 9%,  8%);
$w2: hsl(337,  5%, 12%);
$w3: hsl(337,  5%, 16%);
$w4: hsl(337,  5%, 20%);
$w5: hsl(337,  5%, 24%);
$w6: hsl(337,  5%, 28%);
$w7: hsl(337,  5%, 32%);
$w8: hsl(337,  5%, 36%);
$w9: hsl(337,  5%, 40%);
$w10: hsl(337,  5%, 44%);
$w11: hsl(337,  5%, 48%);
$w12: hsl(337,  5%, 52%);
$w13: hsl(337,  5%, 56%);
$w14: hsl(337,  5%, 60%);
$w15: hsl(337,  5%, 64%);
$w16: hsl(337,  6%, 68%);
$w17: hsl(337,  7%, 72%);
$w18: hsl(337,  8%, 76%);
$w19: hsl(337,  9%, 80%);
$w20: hsl(337, 10%, 84%);
$w21: hsl(337, 11%, 88%);
$w22: hsl(337, 12%, 92%);
$w23: hsl(337, 17%, 97%);

$x0: hsl(352, 27%,  4%);
$x1: hsl(352, 12%,  8%);
$x2: hsl(352,  5%, 12%);
$x3: hsl(352,  5%, 16%);
$x4: hsl(352,  5%, 20%);
$x5: hsl(352,  5%, 24%);
$x6: hsl(352,  5%, 28%);
$x7: hsl(352,  5%, 32%);
$x8: hsl(352,  5%, 36%);
$x9: hsl(352,  5%, 40%);
$x10: hsl(352,  5%, 44%);
$x11: hsl(352,  5%, 48%);
$x12: hsl(352,  5%, 52%);
$x13: hsl(352,  5%, 56%);
$x14: hsl(352,  5%, 60%);
$x15: hsl(352,  5%, 64%);
$x16: hsl(352,  6%, 68%);
$x17: hsl(352,  7%, 72%);
$x18: hsl(352,  8%, 76%);
$x19: hsl(352,  9%, 80%);
$x20: hsl(352, 10%, 84%);
$x21: hsl(352, 11%, 88%);
$x22: hsl(352, 12%, 92%);
$x23: hsl(352, 17%, 97%);

