@import "../palette/master-palette-24-hues.scss";

.bg-A0 { background-color: $A0; color: $A15; }
.bg-A1 { background-color: $A1; color: $A16; }
.bg-A2 { background-color: $A2; color: $A17; }
.bg-A3 { background-color: $A3; color: $A18; }
.bg-A4 { background-color: $A4; color: $A19; }
.bg-A5 { background-color: $A5; color: $A20; }
.bg-A6 { background-color: $A6; color: $A20; }
.bg-A7 { background-color: $A7; color: $A20; }
.bg-A8 { background-color: $A8; color: $A20; }
.bg-A9 { background-color: $A9; color: $A0; }
.bg-A10 { background-color: $A10; color: $A0; }
.bg-A11 { background-color: $A11; color: $A0; }
.bg-A12 { background-color: $A12; color: $A0; }
.bg-A13 { background-color: $A13; color: $A0; }
.bg-A14 { background-color: $A14; color: $A0; }
.bg-A15 { background-color: $A15; color: $A0; }
.bg-A16 { background-color: $A16; color: $A0; }
.bg-A17 { background-color: $A17; color: $A0; }
.bg-A18 { background-color: $A18; color: $A0; }
.bg-A19 { background-color: $A19; color: $A0; }
.bg-A20 { background-color: $A20; color: $A0; }
.bg-A21 { background-color: $A21; color: $A0; }
.bg-A22 { background-color: $A22; color: $A0; }
.bg-A23 { background-color: $A23; color: $A0; }

.bg-B0 { background-color: $B0; color: $B15;}
.bg-B1 { background-color: $B1; color: $B16; }
.bg-B2 { background-color: $B2; color: $B17; }
.bg-B3 { background-color: $B3; color: $B18; }
.bg-B4 { background-color: $B4; color: $B19; }
.bg-B5 { background-color: $B5; color: $B20; }
.bg-B6 { background-color: $B6; color: $B20; }
.bg-B7 { background-color: $B7; color: $B20; }
.bg-B8 { background-color: $B8; color: $B20; }
.bg-B9 { background-color: $B9; color: $B0; }
.bg-B10 { background-color: $B10; color: $B0; }
.bg-B11 { background-color: $B11; color: $B0; }
.bg-B12 { background-color: $B12; color: $B0; }
.bg-B13 { background-color: $B13; color: $B0; }
.bg-B14 { background-color: $B14; color: $B0; }
.bg-B15 { background-color: $B15; color: $B0; }
.bg-B16 { background-color: $B16; color: $B0; }
.bg-B17 { background-color: $B17; color: $B0; }
.bg-B18 { background-color: $B18; color: $B0; }
.bg-B19 { background-color: $B19; color: $B0; }
.bg-B20 { background-color: $B20; color: $B0; }
.bg-B21 { background-color: $B21; color: $B0; }
.bg-B22 { background-color: $B22; color: $B0; }
.bg-B23 { background-color: $B23; color: $B0; }

.bg-C0 { background-color: $C0; color: $C15;}
.bg-C1 { background-color: $C1; color: $C16; }
.bg-C2 { background-color: $C2; color: $C17; }
.bg-C3 { background-color: $C3; color: $C18; }
.bg-C4 { background-color: $C4; color: $C19; }
.bg-C5 { background-color: $C5; color: $C20; }
.bg-C6 { background-color: $C6; color: $C20; }
.bg-C7 { background-color: $C7; color: $C20; }
.bg-C8 { background-color: $C8; color: $C20; }
.bg-C9 { background-color: $C9; color: $C0; }
.bg-C10 { background-color: $C10; color: $C0; }
.bg-C11 { background-color: $C11; color: $C0; }
.bg-C12 { background-color: $C12; color: $C0; }
.bg-C13 { background-color: $C13; color: $C0; }
.bg-C14 { background-color: $C14; color: $C0; }
.bg-C15 { background-color: $C15; color: $C0; }
.bg-C16 { background-color: $C16; color: $C0; }
.bg-C17 { background-color: $C17; color: $C0; }
.bg-C18 { background-color: $C18; color: $C0; }
.bg-C19 { background-color: $C19; color: $C0; }
.bg-C20 { background-color: $C20; color: $C0; }
.bg-C21 { background-color: $C21; color: $C0; }
.bg-C22 { background-color: $C22; color: $C0; }
.bg-C23 { background-color: $C23; color: $C0; }

.bg-D0 { background-color: $D0; color: $D15;}
.bg-D1 { background-color: $D1; color: $D16; }
.bg-D2 { background-color: $D2; color: $D17; }
.bg-D3 { background-color: $D3; color: $D18; }
.bg-D4 { background-color: $D4; color: $D19; }
.bg-D5 { background-color: $D5; color: $D20; }
.bg-D6 { background-color: $D6; color: $D20; }
.bg-D7 { background-color: $D7; color: $D20; }
.bg-D8 { background-color: $D8; color: $D20; }
.bg-D9 { background-color: $D9; color: $D0; }
.bg-D10 { background-color: $D10; color: $D0; }
.bg-D11 { background-color: $D11; color: $D0; }
.bg-D12 { background-color: $D12; color: $D0; }
.bg-D13 { background-color: $D13; color: $D0; }
.bg-D14 { background-color: $D14; color: $D0; }
.bg-D15 { background-color: $D15; color: $D0; }
.bg-D16 { background-color: $D16; color: $D0; }
.bg-D17 { background-color: $D17; color: $D0; }
.bg-D18 { background-color: $D18; color: $D0; }
.bg-D19 { background-color: $D19; color: $D0; }
.bg-D20 { background-color: $D20; color: $D0; }
.bg-D21 { background-color: $D21; color: $D0; }
.bg-D22 { background-color: $D22; color: $D0; }
.bg-D23 { background-color: $D23; color: $D0; }

.bg-E0 { background-color: $E0; color: $E15;}
.bg-E1 { background-color: $E1; color: $E16; }
.bg-E2 { background-color: $E2; color: $E17; }
.bg-E3 { background-color: $E3; color: $E18;  }
.bg-E4 { background-color: $E4; color: $E19; }
.bg-E5 { background-color: $E5; color: $E20; }
.bg-E6 { background-color: $E6; color: $E20; }
.bg-E7 { background-color: $E7; color: $E20; }
.bg-E8 { background-color: $E8; color: $E20; }
.bg-E9 { background-color: $E9; color: $E0; }
.bg-E10 { background-color: $E10; color: $E0; }
.bg-E11 { background-color: $E11; color: $E0; }
.bg-E12 { background-color: $E12; color: $E0; }
.bg-E13 { background-color: $E13; color: $E0; }
.bg-E14 { background-color: $E14; color: $E0; }
.bg-E15 { background-color: $E15; color: $E0; }
.bg-E16 { background-color: $E16; color: $E0; }
.bg-E17 { background-color: $E17; color: $E0; }
.bg-E18 { background-color: $E18; color: $E0; }
.bg-E19 { background-color: $E19; color: $E0; }
.bg-E20 { background-color: $E20; color: $E0; }
.bg-E21 { background-color: $E21; color: $E0; }
.bg-E22 { background-color: $E22; color: $E0; }
.bg-E23 { background-color: $E23; color: $E0; }

.bg-F0 { background-color: $F0; color: $F15;}
.bg-F1 { background-color: $F1; color: $F16; }
.bg-F2 { background-color: $F2; color: $F17; }
.bg-F3 { background-color: $F3; color: $F18;  }
.bg-F4 { background-color: $F4; color: $F19; }
.bg-F5 { background-color: $F5; color: $F20; }
.bg-F6 { background-color: $F6; color: $F20; }
.bg-F7 { background-color: $F7; color: $F20; }
.bg-F8 { background-color: $F8; color: $F20; }
.bg-F9 { background-color: $F9; color: $F0; }
.bg-F10 { background-color: $F10; color: $F0; }
.bg-F11 { background-color: $F11; color: $F0; }
.bg-F12 { background-color: $F12; color: $F0; }
.bg-F13 { background-color: $F13; color: $F0; }
.bg-F14 { background-color: $F14; color: $F0; }
.bg-F15 { background-color: $F15; color: $F0; }
.bg-F16 { background-color: $F16; color: $F0; }
.bg-F17 { background-color: $F17; color: $F0; }
.bg-F18 { background-color: $F18; color: $F0; }
.bg-F19 { background-color: $F19; color: $F0; }
.bg-F20 { background-color: $F20; color: $F0; }
.bg-F21 { background-color: $F21; color: $F0; }
.bg-F22 { background-color: $F22; color: $F0; }
.bg-F23 { background-color: $F23; color: $F0; }

.bg-G0 { background-color: $G0; color: $G15;}
.bg-G1 { background-color: $G1; color: $G16; }
.bg-G2 { background-color: $G2; color: $G17; }
.bg-G3 { background-color: $G3; color: $G18;  }
.bg-G4 { background-color: $G4; color: $G19; }
.bg-G5 { background-color: $G5; color: $G20; }
.bg-G6 { background-color: $G6; color: $G20; }
.bg-G7 { background-color: $G7; color: $G20; }
.bg-G8 { background-color: $G8; color: $G20; }
.bg-G9 { background-color: $G9; color: $G0; }
.bg-G10 { background-color: $G10; color: $G0; }
.bg-G11 { background-color: $G11; color: $G0; }
.bg-G12 { background-color: $G12; color: $G0; }
.bg-G13 { background-color: $G13; color: $G0; }
.bg-G14 { background-color: $G14; color: $G0; }
.bg-G15 { background-color: $G15; color: $G0; }
.bg-G16 { background-color: $G16; color: $G0; }
.bg-G17 { background-color: $G17; color: $G0; }
.bg-G18 { background-color: $G18; color: $G0; }
.bg-G19 { background-color: $G19; color: $G0; }
.bg-G20 { background-color: $G20; color: $G0; }
.bg-G21 { background-color: $G21; color: $G0; }
.bg-G22 { background-color: $G22; color: $G0; }
.bg-G23 { background-color: $G23; color: $G0; }

.bg-H0 { background-color: $H0; color: $H15;}
.bg-H1 { background-color: $H1; color: $H16; }
.bg-H2 { background-color: $H2; color: $H17; }
.bg-H3 { background-color: $H3; color: $H18;  }
.bg-H4 { background-color: $H4; color: $H19; }
.bg-H5 { background-color: $H5; color: $H20; }
.bg-H6 { background-color: $H6; color: $H20; }
.bg-H7 { background-color: $H7; color: $H20; }
.bg-H8 { background-color: $H8; color: $H20; }
.bg-H9 { background-color: $H9; color: $H0; }
.bg-H10 { background-color: $H10; color: $H0; }
.bg-H11 { background-color: $H11; color: $H0; }
.bg-H12 { background-color: $H12; color: $H0; }
.bg-H13 { background-color: $H13; color: $H0; }
.bg-H14 { background-color: $H14; color: $H0; }
.bg-H15 { background-color: $H15; color: $H0; }
.bg-H16 { background-color: $H16; color: $H0; }
.bg-H17 { background-color: $H17; color: $H0; }
.bg-H18 { background-color: $H18; color: $H0; }
.bg-H19 { background-color: $H19; color: $H0; }
.bg-H20 { background-color: $H20; color: $H0; }
.bg-H21 { background-color: $H21; color: $H0; }
.bg-H22 { background-color: $H22; color: $H0; }
.bg-H23 { background-color: $H23; color: $H0; }

.bg-I0 { background-color: $I0; color: $I15;}
.bg-I1 { background-color: $I1; color: $I16; }
.bg-I2 { background-color: $I2; color: $I17; }
.bg-I3 { background-color: $I3; color: $I18;  }
.bg-I4 { background-color: $I4; color: $I19; }
.bg-I5 { background-color: $I5; color: $I20; }
.bg-I6 { background-color: $I6; color: $I20; }
.bg-I7 { background-color: $I7; color: $I20; }
.bg-I8 { background-color: $I8; color: $I20; }
.bg-I9 { background-color: $I9; color: $I0; }
.bg-I10 { background-color: $I10; color: $I0; }
.bg-I11 { background-color: $I11; color: $I0; }
.bg-I12 { background-color: $I12; color: $I0; }
.bg-I13 { background-color: $I13; color: $I0; }
.bg-I14 { background-color: $I14; color: $I0; }
.bg-I15 { background-color: $I15; color: $I0; }
.bg-I16 { background-color: $I16; color: $I0; }
.bg-I17 { background-color: $I17; color: $I0; }
.bg-I18 { background-color: $I18; color: $I0; }
.bg-I19 { background-color: $I19; color: $I0; }
.bg-I20 { background-color: $I20; color: $I0; }
.bg-I21 { background-color: $I21; color: $I0; }
.bg-I22 { background-color: $I22; color: $I0; }
.bg-I23 { background-color: $I23; color: $I0; }

.bg-J0 { background-color: $J0; color: $J15;}
.bg-J1 { background-color: $J1; color: $J16; }
.bg-J2 { background-color: $J2; color: $J17; }
.bg-J3 { background-color: $J3; color: $J18;  }
.bg-J4 { background-color: $J4; color: $J19; }
.bg-J5 { background-color: $J5; color: $J20; }
.bg-J6 { background-color: $J6; color: $J20; }
.bg-J7 { background-color: $J7; color: $J20; }
.bg-J8 { background-color: $J8; color: $J20; }
.bg-J9 { background-color: $J9; color: $J0}
.bg-J10 { background-color: $J10; color: $J0; }
.bg-J11 { background-color: $J11; color: $J0; }
.bg-J12 { background-color: $J12; color: $J0; }
.bg-J13 { background-color: $J13; color: $J0; }
.bg-J14 { background-color: $J14; color: $J0; }
.bg-J15 { background-color: $J15; color: $J0; }
.bg-J16 { background-color: $J16; color: $J0; }
.bg-J17 { background-color: $J17; color: $J0; }
.bg-J18 { background-color: $J18; color: $J0; }
.bg-J19 { background-color: $J19; color: $J0; }
.bg-J20 { background-color: $J20; color: $J0; }
.bg-J21 { background-color: $J21; color: $J0; }
.bg-J22 { background-color: $J22; color: $J0; }
.bg-J23 { background-color: $J23; color: $J0; }

.bg-K0 { background-color: $K0; color: $K15;}
.bg-K1 { background-color: $K1; color: $K16; }
.bg-K2 { background-color: $K2; color: $K17; }
.bg-K3 { background-color: $K3; color: $K18;  }
.bg-K4 { background-color: $K4; color: $K19; }
.bg-K5 { background-color: $K5; color: $K20; }
.bg-K6 { background-color: $K6; color: $K20; }
.bg-K7 { background-color: $K7; color: $K20; }
.bg-K8 { background-color: $K8; color: $K20; }
.bg-K9 { background-color: $K9; color: $K0; }
.bg-K10 { background-color: $K10; color: $K0; }
.bg-K11 { background-color: $K11; color: $K0; }
.bg-K12 { background-color: $K12; color: $K0; }
.bg-K13 { background-color: $K13; color: $K0; }
.bg-K14 { background-color: $K14; color: $K0; }
.bg-K15 { background-color: $K15; color: $K0; }
.bg-K16 { background-color: $K16; color: $K0; }
.bg-K17 { background-color: $K17; color: $K0; }
.bg-K18 { background-color: $K18; color: $K0; }
.bg-K19 { background-color: $K19; color: $K0; }
.bg-K20 { background-color: $K20; color: $K0; }
.bg-K21 { background-color: $K21; color: $K0; }
.bg-K22 { background-color: $K22; color: $K0; }
.bg-K23 { background-color: $K23; color: $K0; }

.bg-L0 { background-color: $L0; color: $L15;}
.bg-L1 { background-color: $L1; color: $L16; }
.bg-L2 { background-color: $L2; color: $L17; }
.bg-L3 { background-color: $L3; color: $L18;  }
.bg-L4 { background-color: $L4; color: $L19; }
.bg-L5 { background-color: $L5; color: $L20; }
.bg-L6 { background-color: $L6; color: $L20; }
.bg-L7 { background-color: $L7; color: $L20; }
.bg-L8 { background-color: $L8; color: $L20; }
.bg-L9 { background-color: $L9; color: $L0; }
.bg-L10 { background-color: $L10; color: $L0; }
.bg-L11 { background-color: $L11; color: $L0; }
.bg-L12 { background-color: $L12; color: $L0; }
.bg-L13 { background-color: $L13; color: $L0; }
.bg-L14 { background-color: $L14; color: $L0; }
.bg-L15 { background-color: $L15; color: $L0; }
.bg-L16 { background-color: $L16; color: $L0; }
.bg-L17 { background-color: $L17; color: $L0; }
.bg-L18 { background-color: $L18; color: $L0; }
.bg-L19 { background-color: $L19; color: $L0; }
.bg-L20 { background-color: $L20; color: $L0; }
.bg-L21 { background-color: $L21; color: $L0; }
.bg-L22 { background-color: $L22; color: $L0; }
.bg-L23 { background-color: $L23; color: $L0; }

.bg-M0 { background-color: $M0; color: $M15;}
.bg-M1 { background-color: $M1; color: $M16; }
.bg-M2 { background-color: $M2; color: $M17; }
.bg-M3 { background-color: $M3; color: $M18;  }
.bg-M4 { background-color: $M4; color: $M19; }
.bg-M5 { background-color: $M5; color: $M20; }
.bg-M6 { background-color: $M6; color: $M20; }
.bg-M7 { background-color: $M7; color: $M20; }
.bg-M8 { background-color: $M8; color: $M20; }
.bg-M9 { background-color: $M9; color: $M0; }
.bg-M10 { background-color: $M10; color: $M0; }
.bg-M11 { background-color: $M11; color: $M0; }
.bg-M12 { background-color: $M12; color: $M0; }
.bg-M13 { background-color: $M13; color: $M0; }
.bg-M14 { background-color: $M14; color: $M0; }
.bg-M15 { background-color: $M15; color: $M0; }
.bg-M16 { background-color: $M16; color: $M0; }
.bg-M17 { background-color: $M17; color: $M0; }
.bg-M18 { background-color: $M18; color: $M0; }
.bg-M19 { background-color: $M19; color: $M0; }
.bg-M20 { background-color: $M20; color: $M0; }
.bg-M21 { background-color: $M21; color: $M0; }
.bg-M22 { background-color: $M22; color: $M0; }
.bg-M23 { background-color: $M23; color: $M0; }

.bg-N0 { background-color: $N0; color: $N15;}
.bg-N1 { background-color: $N1; color: $N16; }
.bg-N2 { background-color: $N2; color: $N17; }
.bg-N3 { background-color: $N3; color: $N18;  }
.bg-N4 { background-color: $N4; color: $N19; }
.bg-N5 { background-color: $N5; color: $N20; }
.bg-N6 { background-color: $N6; color: $N20; }
.bg-N7 { background-color: $N7; color: $N20; }
.bg-N8 { background-color: $N8; color: $N20; }
.bg-N9 { background-color: $N9; color: $N0; }
.bg-N10 { background-color: $N10; color: $N0; }
.bg-N11 { background-color: $N11; color: $N0; }
.bg-N12 { background-color: $N12; color: $N0; }
.bg-N13 { background-color: $N13; color: $N0; }
.bg-N14 { background-color: $N14; color: $N0; }
.bg-N15 { background-color: $N15; color: $N0; }
.bg-N16 { background-color: $N16; color: $N0; }
.bg-N17 { background-color: $N17; color: $N0; }
.bg-N18 { background-color: $N18; color: $N0; }
.bg-N19 { background-color: $N19; color: $N0; }
.bg-N20 { background-color: $N20; color: $N0; }
.bg-N21 { background-color: $N21; color: $N0; }
.bg-N22 { background-color: $N22; color: $N0; }
.bg-N23 { background-color: $N23; color: $N0; }

.bg-O0 { background-color: $O0; color: $O15;}
.bg-O1 { background-color: $O1; color: $O16; }
.bg-O2 { background-color: $O2; color: $O17; }
.bg-O3 { background-color: $O3; color: $O18;  }
.bg-O4 { background-color: $O4; color: $O19; }
.bg-O5 { background-color: $O5; color: $O20; }
.bg-O6 { background-color: $O6; color: $O20; }
.bg-O7 { background-color: $O7; color: $O20; }
.bg-O8 { background-color: $O8; color: $O20; }
.bg-O9 { background-color: $O9; color: $O0; }
.bg-O10 { background-color: $O10; color: $O0; }
.bg-O11 { background-color: $O11; color: $O0; }
.bg-O12 { background-color: $O12; color: $O0; }
.bg-O13 { background-color: $O13; color: $O0; }
.bg-O14 { background-color: $O14; color: $O0; }
.bg-O15 { background-color: $O15; color: $O0; }
.bg-O16 { background-color: $O16; color: $O0; }
.bg-O17 { background-color: $O17; color: $O0; }
.bg-O18 { background-color: $O18; color: $O0; }
.bg-O19 { background-color: $O19; color: $O0; }
.bg-O20 { background-color: $O20; color: $O0; }
.bg-O21 { background-color: $O21; color: $O0; }
.bg-O22 { background-color: $O22; color: $O0; }
.bg-O23 { background-color: $O23; color: $O0; }

.bg-P0 { background-color: $P0; color: $P15;}
.bg-P1 { background-color: $P1; color: $P16; }
.bg-P2 { background-color: $P2; color: $P17; }
.bg-P3 { background-color: $P3; color: $P18;  }
.bg-P4 { background-color: $P4; color: $P19; }
.bg-P5 { background-color: $P5; color: $P20; }
.bg-P6 { background-color: $P6; color: $P20; }
.bg-P7 { background-color: $P7; color: $P20; }
.bg-P8 { background-color: $P8; color: $P20; }
.bg-P9 { background-color: $P9; color: $P0; }
.bg-P10 { background-color: $P10; color: $P0; }
.bg-P11 { background-color: $P11; color: $P0; }
.bg-P12 { background-color: $P12; color: $P0; }
.bg-P13 { background-color: $P13; color: $P0; }
.bg-P14 { background-color: $P14; color: $P0; }
.bg-P15 { background-color: $P15; color: $P0; }
.bg-P16 { background-color: $P16; color: $P0; }
.bg-P17 { background-color: $P17; color: $P0; }
.bg-P18 { background-color: $P18; color: $P0; }
.bg-P19 { background-color: $P19; color: $P0; }
.bg-P20 { background-color: $P20; color: $P0; }
.bg-P21 { background-color: $P21; color: $P0; }
.bg-P22 { background-color: $P22; color: $P0; }
.bg-P23 { background-color: $P23; color: $P0; }

.bg-Q0 { background-color: $Q0; color: $Q15;}
.bg-Q1 { background-color: $Q1; color: $Q16; }
.bg-Q2 { background-color: $Q2; color: $Q17; }
.bg-Q3 { background-color: $Q3; color: $Q18;  }
.bg-Q4 { background-color: $Q4; color: $Q19; }
.bg-Q5 { background-color: $Q5; color: $Q20; }
.bg-Q6 { background-color: $Q6; color: $Q20; }
.bg-Q7 { background-color: $Q7; color: $Q20; }
.bg-Q8 { background-color: $Q8; color: $Q20; }
.bg-Q9 { background-color: $Q9; color: $Q0; }
.bg-Q10 { background-color: $Q10; color: $Q0; }
.bg-Q11 { background-color: $Q11; color: $Q0; }
.bg-Q12 { background-color: $Q12; color: $Q0; }
.bg-Q13 { background-color: $Q13; color: $Q0; }
.bg-Q14 { background-color: $Q14; color: $Q0; }
.bg-Q15 { background-color: $Q15; color: $Q0; }
.bg-Q16 { background-color: $Q16; color: $Q0; }
.bg-Q17 { background-color: $Q17; color: $Q0; }
.bg-Q18 { background-color: $Q18; color: $Q0; }
.bg-Q19 { background-color: $Q19; color: $Q0; }
.bg-Q20 { background-color: $Q20; color: $Q0; }
.bg-Q21 { background-color: $Q21; color: $Q0; }
.bg-Q22 { background-color: $Q22; color: $Q0; }
.bg-Q23 { background-color: $Q23; color: $Q0; }

.bg-R0 { background-color: $R0; color: $R15;}
.bg-R1 { background-color: $R1; color: $R16; }
.bg-R2 { background-color: $R2; color: $R17; }
.bg-R3 { background-color: $R3; color: $R18;  }
.bg-R4 { background-color: $R4; color: $R19; }
.bg-R5 { background-color: $R5; color: $R20; }
.bg-R6 { background-color: $R6; color: $R20; }
.bg-R7 { background-color: $R7; color: $R20; }
.bg-R8 { background-color: $R8; color: $R20; }
.bg-R9 { background-color: $R9; color: $R0; }
.bg-R10 { background-color: $R10; color: $R0; }
.bg-R11 { background-color: $R11; color: $R0; }
.bg-R12 { background-color: $R12; color: $R0; }
.bg-R13 { background-color: $R13; color: $R0; }
.bg-R14 { background-color: $R14; color: $R0; }
.bg-R15 { background-color: $R15; color: $R0; }
.bg-R16 { background-color: $R16; color: $R0; }
.bg-R17 { background-color: $R17; color: $R0; }
.bg-R18 { background-color: $R18; color: $R0; }
.bg-R19 { background-color: $R19; color: $R0; }
.bg-R20 { background-color: $R20; color: $R0; }
.bg-R21 { background-color: $R21; color: $R0; }
.bg-R22 { background-color: $R22; color: $R0; }
.bg-R23 { background-color: $R23; color: $R0; }

.bg-S0 { background-color: $S0; color: $S15;}
.bg-S1 { background-color: $S1; color: $S16; }
.bg-S2 { background-color: $S2; color: $S17; }
.bg-S3 { background-color: $S3; color: $S18;  }
.bg-S4 { background-color: $S4; color: $S19; }
.bg-S5 { background-color: $S5; color: $S20; }
.bg-S6 { background-color: $S6; color: $S20; }
.bg-S7 { background-color: $S7; color: $S20; }
.bg-S8 { background-color: $S8; color: $S20; }
.bg-S9 { background-color: $S9; color: $S0; }
.bg-S10 { background-color: $S10; color: $S0; }
.bg-S11 { background-color: $S11; color: $S0; }
.bg-S12 { background-color: $S12; color: $S0; }
.bg-S13 { background-color: $S13; color: $S0; }
.bg-S14 { background-color: $S14; color: $S0; }
.bg-S15 { background-color: $S15; color: $S0; }
.bg-S16 { background-color: $S16; color: $S0; }
.bg-S17 { background-color: $S17; color: $S0; }
.bg-S18 { background-color: $S18; color: $S0; }
.bg-S19 { background-color: $S19; color: $S0; }
.bg-S20 { background-color: $S20; color: $S0; }
.bg-S21 { background-color: $S21; color: $S0; }
.bg-S22 { background-color: $S22; color: $S0; }
.bg-S23 { background-color: $S23; color: $S0; }

.bg-T0 { background-color: $T0; color: $T15;}
.bg-T1 { background-color: $T1; color: $T16; }
.bg-T2 { background-color: $T2; color: $T17; }
.bg-T3 { background-color: $T3; color: $T18;  }
.bg-T4 { background-color: $T4; color: $T19; }
.bg-T5 { background-color: $T5; color: $T20; }
.bg-T6 { background-color: $T6; color: $T20; }
.bg-T7 { background-color: $T7; color: $T20; }
.bg-T8 { background-color: $T8; color: $T20; }
.bg-T9 { background-color: $T9; color: $T0; }
.bg-T10 { background-color: $T10; color: $T0; }
.bg-T11 { background-color: $T11; color: $T0; }
.bg-T12 { background-color: $T12; color: $T0; }
.bg-T13 { background-color: $T13; color: $T0; }
.bg-T14 { background-color: $T14; color: $T0; }
.bg-T15 { background-color: $T15; color: $T0; }
.bg-T16 { background-color: $T16; color: $T0; }
.bg-T17 { background-color: $T17; color: $T0; }
.bg-T18 { background-color: $T18; color: $T0; }
.bg-T19 { background-color: $T19; color: $T0; }
.bg-T20 { background-color: $T20; color: $T0; }
.bg-T21 { background-color: $T21; color: $T0; }
.bg-T22 { background-color: $T22; color: $T0; }
.bg-T23 { background-color: $T23; color: $T0; }

.bg-U0 { background-color: $U0; color: $U15;}
.bg-U1 { background-color: $U1; color: $U16; }
.bg-U2 { background-color: $U2; color: $U17; }
.bg-U3 { background-color: $U3; color: $U18;  }
.bg-U4 { background-color: $U4; color: $U19; }
.bg-U5 { background-color: $U5; color: $U20; }
.bg-U6 { background-color: $U6; color: $U20; }
.bg-U7 { background-color: $U7; color: $U20; }
.bg-U8 { background-color: $U8; color: $U20; }
.bg-U9 { background-color: $U9; color: $U0; }
.bg-U10 { background-color: $U10; color: $U0; }
.bg-U11 { background-color: $U11; color: $U0; }
.bg-U12 { background-color: $U12; color: $U0; }
.bg-U13 { background-color: $U13; color: $U0; }
.bg-U14 { background-color: $U14; color: $U0; }
.bg-U15 { background-color: $U15; color: $U0; }
.bg-U16 { background-color: $U16; color: $U0; }
.bg-U17 { background-color: $U17; color: $U0; }
.bg-U18 { background-color: $U18; color: $U0; }
.bg-U19 { background-color: $U19; color: $U0; }
.bg-U20 { background-color: $U20; color: $U0; }
.bg-U21 { background-color: $U21; color: $U0; }
.bg-U22 { background-color: $U22; color: $U0; }
.bg-U23 { background-color: $U23; color: $U0; }

.bg-V0 { background-color: $V0; color: $V15;}
.bg-V1 { background-color: $V1; color: $V16; }
.bg-V2 { background-color: $V2; color: $V17; }
.bg-V3 { background-color: $V3; color: $V18;  }
.bg-V4 { background-color: $V4; color: $V19; }
.bg-V5 { background-color: $V5; color: $V20; }
.bg-V6 { background-color: $V6; color: $V20; }
.bg-V7 { background-color: $V7; color: $V20; }
.bg-V8 { background-color: $V8; color: $V20; }
.bg-V9 { background-color: $V9; color: $V0; }
.bg-V10 { background-color: $V10; color: $V0; }
.bg-V11 { background-color: $V11; color: $V0; }
.bg-V12 { background-color: $V12; color: $V0; }
.bg-V13 { background-color: $V13; color: $V0; }
.bg-V14 { background-color: $V14; color: $V0; }
.bg-V15 { background-color: $V15; color: $V0; }
.bg-V16 { background-color: $V16; color: $V0; }
.bg-V17 { background-color: $V17; color: $V0; }
.bg-V18 { background-color: $V18; color: $V0; }
.bg-V19 { background-color: $V19; color: $V0; }
.bg-V20 { background-color: $V20; color: $V0; }
.bg-V21 { background-color: $V21; color: $V0; }
.bg-V22 { background-color: $V22; color: $V0; }
.bg-V23 { background-color: $V23; color: $V0; }

.bg-W0 { background-color: $W0; color: $W15;}
.bg-W1 { background-color: $W1; color: $W16; }
.bg-W2 { background-color: $W2; color: $W17; }
.bg-W3 { background-color: $W3; color: $W18;  }
.bg-W4 { background-color: $W4; color: $W19; }
.bg-W5 { background-color: $W5; color: $W20; }
.bg-W6 { background-color: $W6; color: $W20; }
.bg-W7 { background-color: $W7; color: $W20; }
.bg-W8 { background-color: $W8; color: $W20; }
.bg-W9 { background-color: $W9; color: $W0; }
.bg-W10 { background-color: $W10; color: $W0; }
.bg-W11 { background-color: $W11; color: $W0; }
.bg-W12 { background-color: $W12; color: $W0; }
.bg-W13 { background-color: $W13; color: $W0; }
.bg-W14 { background-color: $W14; color: $W0; }
.bg-W15 { background-color: $W15; color: $W0; }
.bg-W16 { background-color: $W16; color: $W0; }
.bg-W17 { background-color: $W17; color: $W0; }
.bg-W18 { background-color: $W18; color: $W0; }
.bg-W19 { background-color: $W19; color: $W0; }
.bg-W20 { background-color: $W20; color: $W0; }
.bg-W21 { background-color: $W21; color: $W0; }
.bg-W22 { background-color: $W22; color: $W0; }
.bg-W23 { background-color: $W23; color: $W0; }

.bg-X0 { background-color: $X0; color: $X15;}
.bg-X1 { background-color: $X1; color: $X16; }
.bg-X2 { background-color: $X2; color: $X17; }
.bg-X3 { background-color: $X3; color: $X18; }
.bg-X4 { background-color: $X4; color: $X19}
.bg-X5 { background-color: $X5; color: $X20}
.bg-X6 { background-color: $X6; color: $X20;}
.bg-X7 { background-color: $X7; color: $X20;}
.bg-X8 { background-color: $X8; color: $X20;}
.bg-X9 { background-color: $X9; color: $X0;}
.bg-X10 { background-color: $X10; color: $X0; }
.bg-X11 { background-color: $X11; color: $X0; }
.bg-X12 { background-color: $X12; color: $X0; }
.bg-X13 { background-color: $X13; color: $X0; }
.bg-X14 { background-color: $X14; color: $X0; }
.bg-X15 { background-color: $X15; color: $X0; }
.bg-X16 { background-color: $X16; color: $X0; }
.bg-X17 { background-color: $X17; color: $X0; }
.bg-X18 { background-color: $X18; color: $X0; }
.bg-X19 { background-color: $X19; color: $X0; }
.bg-X20 { background-color: $X20; color: $X0; }
.bg-X21 { background-color: $X21; color: $X0; }
.bg-X22 { background-color: $X22; color: $X0; }
.bg-X23 { background-color: $X23; color: $X0; }
