@import "../palette/monochrome-palette-24-hues.scss";

.bg-a0 { background-color: $a0; color: $a15; }
.bg-a1 { background-color: $a1; color: $a16; }
.bg-a2 { background-color: $a2; color: $a17; }
.bg-a3 { background-color: $a3; color: $a18; }
.bg-a4 { background-color: $a4; color: $a19; }
.bg-a5 { background-color: $a5; color: $a20; }
.bg-a6 { background-color: $a6; color: $a20; }
.bg-a7 { background-color: $a7; color: $a20; }
.bg-a8 { background-color: $a8; color: $a20; }
.bg-a9 { background-color: $a9; color: $a0; }
.bg-a10 { background-color: $a10; color: $a0; }
.bg-a11 { background-color: $a11; color: $a0; }
.bg-a12 { background-color: $a12; color: $a0; }
.bg-a13 { background-color: $a13; color: $a0; }
.bg-a14 { background-color: $a14; color: $a0; }
.bg-a15 { background-color: $a15; color: $a0; }
.bg-a16 { background-color: $a16; color: $a0; }
.bg-a17 { background-color: $a17; color: $a0; }
.bg-a18 { background-color: $a18; color: $a0; }
.bg-a19 { background-color: $a19; color: $a0; }
.bg-a20 { background-color: $a20; color: $a0; }
.bg-a21 { background-color: $a21; color: $a0; }
.bg-a22 { background-color: $a22; color: $a0; }
.bg-a23 { background-color: $a23; color: $a0; }

.bg-b0 { background-color: $b0; color: $b15;}
.bg-b1 { background-color: $b1; color: $b16; }
.bg-b2 { background-color: $b2; color: $b17; }
.bg-b3 { background-color: $b3; color: $b18; }
.bg-b4 { background-color: $b4; color: $b19; }
.bg-b5 { background-color: $b5; color: $b20; }
.bg-b6 { background-color: $b6; color: $b20; }
.bg-b7 { background-color: $b7; color: $b20; }
.bg-b8 { background-color: $b8; color: $b20; }
.bg-b9 { background-color: $b9; color: $b0; }
.bg-b10 { background-color: $b10; color: $b0; }
.bg-b11 { background-color: $b11; color: $b0; }
.bg-b12 { background-color: $b12; color: $b0; }
.bg-b13 { background-color: $b13; color: $b0; }
.bg-b14 { background-color: $b14; color: $b0; }
.bg-b15 { background-color: $b15; color: $b0; }
.bg-b16 { background-color: $b16; color: $b0; }
.bg-b17 { background-color: $b17; color: $b0; }
.bg-b18 { background-color: $b18; color: $b0; }
.bg-b19 { background-color: $b19; color: $b0; }
.bg-b20 { background-color: $b20; color: $b0; }
.bg-b21 { background-color: $b21; color: $b0; }
.bg-b22 { background-color: $b22; color: $b0; }
.bg-b23 { background-color: $b23; color: $b0; }

.bg-c0 { background-color: $c0; color: $c15;}
.bg-c1 { background-color: $c1; color: $c16; }
.bg-c2 { background-color: $c2; color: $c17; }
.bg-c3 { background-color: $c3; color: $c18; }
.bg-c4 { background-color: $c4; color: $c19; }
.bg-c5 { background-color: $c5; color: $c20; }
.bg-c6 { background-color: $c6; color: $c20; }
.bg-c7 { background-color: $c7; color: $c20; }
.bg-c8 { background-color: $c8; color: $c20; }
.bg-c9 { background-color: $c9; color: $c0; }
.bg-c10 { background-color: $c10; color: $c0; }
.bg-c11 { background-color: $c11; color: $c0; }
.bg-c12 { background-color: $c12; color: $c0; }
.bg-c13 { background-color: $c13; color: $c0; }
.bg-c14 { background-color: $c14; color: $c0; }
.bg-c15 { background-color: $c15; color: $c0; }
.bg-c16 { background-color: $c16; color: $c0; }
.bg-c17 { background-color: $c17; color: $c0; }
.bg-c18 { background-color: $c18; color: $c0; }
.bg-c19 { background-color: $c19; color: $c0; }
.bg-c20 { background-color: $c20; color: $c0; }
.bg-c21 { background-color: $c21; color: $c0; }
.bg-c22 { background-color: $c22; color: $c0; }
.bg-c23 { background-color: $c23; color: $c0; }

.bg-d0 { background-color: $d0; color: $d15;}
.bg-d1 { background-color: $d1; color: $d16; }
.bg-d2 { background-color: $d2; color: $d17; }
.bg-d3 { background-color: $d3; color: $d18; }
.bg-d4 { background-color: $d4; color: $d19; }
.bg-d5 { background-color: $d5; color: $d20; }
.bg-d6 { background-color: $d6; color: $d20; }
.bg-d7 { background-color: $d7; color: $d20; }
.bg-d8 { background-color: $d8; color: $d20; }
.bg-d9 { background-color: $d9; color: $d0; }
.bg-d10 { background-color: $d10; color: $d0; }
.bg-d11 { background-color: $d11; color: $d0; }
.bg-d12 { background-color: $d12; color: $d0; }
.bg-d13 { background-color: $d13; color: $d0; }
.bg-d14 { background-color: $d14; color: $d0; }
.bg-d15 { background-color: $d15; color: $d0; }
.bg-d16 { background-color: $d16; color: $d0; }
.bg-d17 { background-color: $d17; color: $d0; }
.bg-d18 { background-color: $d18; color: $d0; }
.bg-d19 { background-color: $d19; color: $d0; }
.bg-d20 { background-color: $d20; color: $d0; }
.bg-d21 { background-color: $d21; color: $d0; }
.bg-d22 { background-color: $d22; color: $d0; }
.bg-d23 { background-color: $d23; color: $d0; }

.bg-e0 { background-color: $e0; color: $e15;}
.bg-e1 { background-color: $e1; color: $e16; }
.bg-e2 { background-color: $e2; color: $e17; }
.bg-e3 { background-color: $e3; color: $e18;  }
.bg-e4 { background-color: $e4; color: $e19; }
.bg-e5 { background-color: $e5; color: $e20; }
.bg-e6 { background-color: $e6; color: $e20; }
.bg-e7 { background-color: $e7; color: $e20; }
.bg-e8 { background-color: $e8; color: $e20; }
.bg-e9 { background-color: $e9; color: $e0; }
.bg-e10 { background-color: $e10; color: $e0; }
.bg-e11 { background-color: $e11; color: $e0; }
.bg-e12 { background-color: $e12; color: $e0; }
.bg-e13 { background-color: $e13; color: $e0; }
.bg-e14 { background-color: $e14; color: $e0; }
.bg-e15 { background-color: $e15; color: $e0; }
.bg-e16 { background-color: $e16; color: $e0; }
.bg-e17 { background-color: $e17; color: $e0; }
.bg-e18 { background-color: $e18; color: $e0; }
.bg-e19 { background-color: $e19; color: $e0; }
.bg-e20 { background-color: $e20; color: $e0; }
.bg-e21 { background-color: $e21; color: $e0; }
.bg-e22 { background-color: $e22; color: $e0; }
.bg-e23 { background-color: $e23; color: $e0; }

.bg-f0 { background-color: $f0; color: $f15;}
.bg-f1 { background-color: $f1; color: $f16; }
.bg-f2 { background-color: $f2; color: $f17; }
.bg-f3 { background-color: $f3; color: $f18;  }
.bg-f4 { background-color: $f4; color: $f19; }
.bg-f5 { background-color: $f5; color: $f20; }
.bg-f6 { background-color: $f6; color: $f20; }
.bg-f7 { background-color: $f7; color: $f20; }
.bg-f8 { background-color: $f8; color: $f20; }
.bg-f9 { background-color: $f9; color: $f0; }
.bg-f10 { background-color: $f10; color: $f0; }
.bg-f11 { background-color: $f11; color: $f0; }
.bg-f12 { background-color: $f12; color: $f0; }
.bg-f13 { background-color: $f13; color: $f0; }
.bg-f14 { background-color: $f14; color: $f0; }
.bg-f15 { background-color: $f15; color: $f0; }
.bg-f16 { background-color: $f16; color: $f0; }
.bg-f17 { background-color: $f17; color: $f0; }
.bg-f18 { background-color: $f18; color: $f0; }
.bg-f19 { background-color: $f19; color: $f0; }
.bg-f20 { background-color: $f20; color: $f0; }
.bg-f21 { background-color: $f21; color: $f0; }
.bg-f22 { background-color: $f22; color: $f0; }
.bg-f23 { background-color: $f23; color: $f0; }

.bg-g0 { background-color: $g0; color: $g15;}
.bg-g1 { background-color: $g1; color: $g16; }
.bg-g2 { background-color: $g2; color: $g17; }
.bg-g3 { background-color: $g3; color: $g18;  }
.bg-g4 { background-color: $g4; color: $g19; }
.bg-g5 { background-color: $g5; color: $g20; }
.bg-g6 { background-color: $g6; color: $g20; }
.bg-g7 { background-color: $g7; color: $g20; }
.bg-g8 { background-color: $g8; color: $g20; }
.bg-g9 { background-color: $g9; color: $g0; }
.bg-g10 { background-color: $g10; color: $g0; }
.bg-g11 { background-color: $g11; color: $g0; }
.bg-g12 { background-color: $g12; color: $g0; }
.bg-g13 { background-color: $g13; color: $g0; }
.bg-g14 { background-color: $g14; color: $g0; }
.bg-g15 { background-color: $g15; color: $g0; }
.bg-g16 { background-color: $g16; color: $g0; }
.bg-g17 { background-color: $g17; color: $g0; }
.bg-g18 { background-color: $g18; color: $g0; }
.bg-g19 { background-color: $g19; color: $g0; }
.bg-g20 { background-color: $g20; color: $g0; }
.bg-g21 { background-color: $g21; color: $g0; }
.bg-g22 { background-color: $g22; color: $g0; }
.bg-g23 { background-color: $g23; color: $g0; }

.bg-h0 { background-color: $h0; color: $h15;}
.bg-h1 { background-color: $h1; color: $h16; }
.bg-h2 { background-color: $h2; color: $h17; }
.bg-h3 { background-color: $h3; color: $h18;  }
.bg-h4 { background-color: $h4; color: $h19; }
.bg-h5 { background-color: $h5; color: $h20; }
.bg-h6 { background-color: $h6; color: $h20; }
.bg-h7 { background-color: $h7; color: $h20; }
.bg-h8 { background-color: $h8; color: $h20; }
.bg-h9 { background-color: $h9; color: $h0; }
.bg-h10 { background-color: $h10; color: $h0; }
.bg-h11 { background-color: $h11; color: $h0; }
.bg-h12 { background-color: $h12; color: $h0; }
.bg-h13 { background-color: $h13; color: $h0; }
.bg-h14 { background-color: $h14; color: $h0; }
.bg-h15 { background-color: $h15; color: $h0; }
.bg-h16 { background-color: $h16; color: $h0; }
.bg-h17 { background-color: $h17; color: $h0; }
.bg-h18 { background-color: $h18; color: $h0; }
.bg-h19 { background-color: $h19; color: $h0; }
.bg-h20 { background-color: $h20; color: $h0; }
.bg-h21 { background-color: $h21; color: $h0; }
.bg-h22 { background-color: $h22; color: $h0; }
.bg-h23 { background-color: $h23; color: $h0; }

.bg-i0 { background-color: $i0; color: $i15;}
.bg-i1 { background-color: $i1; color: $i16; }
.bg-i2 { background-color: $i2; color: $i17; }
.bg-i3 { background-color: $i3; color: $i18;  }
.bg-i4 { background-color: $i4; color: $i19; }
.bg-i5 { background-color: $i5; color: $i20; }
.bg-i6 { background-color: $i6; color: $i20; }
.bg-i7 { background-color: $i7; color: $i20; }
.bg-i8 { background-color: $i8; color: $i20; }
.bg-i9 { background-color: $i9; color: $i0; }
.bg-i10 { background-color: $i10; color: $i0; }
.bg-i11 { background-color: $i11; color: $i0; }
.bg-i12 { background-color: $i12; color: $i0; }
.bg-i13 { background-color: $i13; color: $i0; }
.bg-i14 { background-color: $i14; color: $i0; }
.bg-i15 { background-color: $i15; color: $i0; }
.bg-i16 { background-color: $i16; color: $i0; }
.bg-i17 { background-color: $i17; color: $i0; }
.bg-i18 { background-color: $i18; color: $i0; }
.bg-i19 { background-color: $i19; color: $i0; }
.bg-i20 { background-color: $i20; color: $i0; }
.bg-i21 { background-color: $i21; color: $i0; }
.bg-i22 { background-color: $i22; color: $i0; }
.bg-i23 { background-color: $i23; color: $i0; }

.bg-j0 { background-color: $j0; color: $j15;}
.bg-j1 { background-color: $j1; color: $j16; }
.bg-j2 { background-color: $j2; color: $j17; }
.bg-j3 { background-color: $j3; color: $j18;  }
.bg-j4 { background-color: $j4; color: $j19; }
.bg-j5 { background-color: $j5; color: $j20; }
.bg-j6 { background-color: $j6; color: $j20; }
.bg-j7 { background-color: $j7; color: $j20; }
.bg-j8 { background-color: $j8; color: $j20; }
.bg-j9 { background-color: $j9; color: $j0}
.bg-j10 { background-color: $j10; color: $j0; }
.bg-j11 { background-color: $j11; color: $j0; }
.bg-j12 { background-color: $j12; color: $j0; }
.bg-j13 { background-color: $j13; color: $j0; }
.bg-j14 { background-color: $j14; color: $j0; }
.bg-j15 { background-color: $j15; color: $j0; }
.bg-j16 { background-color: $j16; color: $j0; }
.bg-j17 { background-color: $j17; color: $j0; }
.bg-j18 { background-color: $j18; color: $j0; }
.bg-j19 { background-color: $j19; color: $j0; }
.bg-j20 { background-color: $j20; color: $j0; }
.bg-j21 { background-color: $j21; color: $j0; }
.bg-j22 { background-color: $j22; color: $j0; }
.bg-j23 { background-color: $j23; color: $j0; }

.bg-k0 { background-color: $k0; color: $k15;}
.bg-k1 { background-color: $k1; color: $k16; }
.bg-k2 { background-color: $k2; color: $k17; }
.bg-k3 { background-color: $k3; color: $k18;  }
.bg-k4 { background-color: $k4; color: $k19; }
.bg-k5 { background-color: $k5; color: $k20; }
.bg-k6 { background-color: $k6; color: $k20; }
.bg-k7 { background-color: $k7; color: $k20; }
.bg-k8 { background-color: $k8; color: $k20; }
.bg-k9 { background-color: $k9; color: $k0; }
.bg-k10 { background-color: $k10; color: $k0; }
.bg-k11 { background-color: $k11; color: $k0; }
.bg-k12 { background-color: $k12; color: $k0; }
.bg-k13 { background-color: $k13; color: $k0; }
.bg-k14 { background-color: $k14; color: $k0; }
.bg-k15 { background-color: $k15; color: $k0; }
.bg-k16 { background-color: $k16; color: $k0; }
.bg-k17 { background-color: $k17; color: $k0; }
.bg-k18 { background-color: $k18; color: $k0; }
.bg-k19 { background-color: $k19; color: $k0; }
.bg-k20 { background-color: $k20; color: $k0; }
.bg-k21 { background-color: $k21; color: $k0; }
.bg-k22 { background-color: $k22; color: $k0; }
.bg-k23 { background-color: $k23; color: $k0; }

.bg-l0 { background-color: $l0; color: $l15;}
.bg-l1 { background-color: $l1; color: $l16; }
.bg-l2 { background-color: $l2; color: $l17; }
.bg-l3 { background-color: $l3; color: $l18;  }
.bg-l4 { background-color: $l4; color: $l19; }
.bg-l5 { background-color: $l5; color: $l20; }
.bg-l6 { background-color: $l6; color: $l20; }
.bg-l7 { background-color: $l7; color: $l20; }
.bg-l8 { background-color: $l8; color: $l20; }
.bg-l9 { background-color: $l9; color: $l0; }
.bg-l10 { background-color: $l10; color: $l0; }
.bg-l11 { background-color: $l11; color: $l0; }
.bg-l12 { background-color: $l12; color: $l0; }
.bg-l13 { background-color: $l13; color: $l0; }
.bg-l14 { background-color: $l14; color: $l0; }
.bg-l15 { background-color: $l15; color: $l0; }
.bg-l16 { background-color: $l16; color: $l0; }
.bg-l17 { background-color: $l17; color: $l0; }
.bg-l18 { background-color: $l18; color: $l0; }
.bg-l19 { background-color: $l19; color: $l0; }
.bg-l20 { background-color: $l20; color: $l0; }
.bg-l21 { background-color: $l21; color: $l0; }
.bg-l22 { background-color: $l22; color: $l0; }
.bg-l23 { background-color: $l23; color: $l0; }

.bg-m0 { background-color: $m0; color: $m15;}
.bg-m1 { background-color: $m1; color: $m16; }
.bg-m2 { background-color: $m2; color: $m17; }
.bg-m3 { background-color: $m3; color: $m18;  }
.bg-m4 { background-color: $m4; color: $m19; }
.bg-m5 { background-color: $m5; color: $m20; }
.bg-m6 { background-color: $m6; color: $m20; }
.bg-m7 { background-color: $m7; color: $m20; }
.bg-m8 { background-color: $m8; color: $m20; }
.bg-m9 { background-color: $m9; color: $m0; }
.bg-m10 { background-color: $m10; color: $m0; }
.bg-m11 { background-color: $m11; color: $m0; }
.bg-m12 { background-color: $m12; color: $m0; }
.bg-m13 { background-color: $m13; color: $m0; }
.bg-m14 { background-color: $m14; color: $m0; }
.bg-m15 { background-color: $m15; color: $m0; }
.bg-m16 { background-color: $m16; color: $m0; }
.bg-m17 { background-color: $m17; color: $m0; }
.bg-m18 { background-color: $m18; color: $m0; }
.bg-m19 { background-color: $m19; color: $m0; }
.bg-m20 { background-color: $m20; color: $m0; }
.bg-m21 { background-color: $m21; color: $m0; }
.bg-m22 { background-color: $m22; color: $m0; }
.bg-m23 { background-color: $m23; color: $m0; }

.bg-n0 { background-color: $n0; color: $n15;}
.bg-n1 { background-color: $n1; color: $n16; }
.bg-n2 { background-color: $n2; color: $n17; }
.bg-n3 { background-color: $n3; color: $n18;  }
.bg-n4 { background-color: $n4; color: $n19; }
.bg-n5 { background-color: $n5; color: $n20; }
.bg-n6 { background-color: $n6; color: $n20; }
.bg-n7 { background-color: $n7; color: $n20; }
.bg-n8 { background-color: $n8; color: $n20; }
.bg-n9 { background-color: $n9; color: $n0; }
.bg-n10 { background-color: $n10; color: $n0; }
.bg-n11 { background-color: $n11; color: $n0; }
.bg-n12 { background-color: $n12; color: $n0; }
.bg-n13 { background-color: $n13; color: $n0; }
.bg-n14 { background-color: $n14; color: $n0; }
.bg-n15 { background-color: $n15; color: $n0; }
.bg-n16 { background-color: $n16; color: $n0; }
.bg-n17 { background-color: $n17; color: $n0; }
.bg-n18 { background-color: $n18; color: $n0; }
.bg-n19 { background-color: $n19; color: $n0; }
.bg-n20 { background-color: $n20; color: $n0; }
.bg-n21 { background-color: $n21; color: $n0; }
.bg-n22 { background-color: $n22; color: $n0; }
.bg-n23 { background-color: $n23; color: $n0; }

.bg-o0 { background-color: $o0; color: $o15;}
.bg-o1 { background-color: $o1; color: $o16; }
.bg-o2 { background-color: $o2; color: $o17; }
.bg-o3 { background-color: $o3; color: $o18;  }
.bg-o4 { background-color: $o4; color: $o19; }
.bg-o5 { background-color: $o5; color: $o20; }
.bg-o6 { background-color: $o6; color: $o20; }
.bg-o7 { background-color: $o7; color: $o20; }
.bg-o8 { background-color: $o8; color: $o20; }
.bg-o9 { background-color: $o9; color: $o0; }
.bg-o10 { background-color: $o10; color: $o0; }
.bg-o11 { background-color: $o11; color: $o0; }
.bg-o12 { background-color: $o12; color: $o0; }
.bg-o13 { background-color: $o13; color: $o0; }
.bg-o14 { background-color: $o14; color: $o0; }
.bg-o15 { background-color: $o15; color: $o0; }
.bg-o16 { background-color: $o16; color: $o0; }
.bg-o17 { background-color: $o17; color: $o0; }
.bg-o18 { background-color: $o18; color: $o0; }
.bg-o19 { background-color: $o19; color: $o0; }
.bg-o20 { background-color: $o20; color: $o0; }
.bg-o21 { background-color: $o21; color: $o0; }
.bg-o22 { background-color: $o22; color: $o0; }
.bg-o23 { background-color: $o23; color: $o0; }

.bg-p0 { background-color: $p0; color: $p15;}
.bg-p1 { background-color: $p1; color: $p16; }
.bg-p2 { background-color: $p2; color: $p17; }
.bg-p3 { background-color: $p3; color: $p18;  }
.bg-p4 { background-color: $p4; color: $p19; }
.bg-p5 { background-color: $p5; color: $p20; }
.bg-p6 { background-color: $p6; color: $p20; }
.bg-p7 { background-color: $p7; color: $p20; }
.bg-p8 { background-color: $p8; color: $p20; }
.bg-p9 { background-color: $p9; color: $p0; }
.bg-p10 { background-color: $p10; color: $p0; }
.bg-p11 { background-color: $p11; color: $p0; }
.bg-p12 { background-color: $p12; color: $p0; }
.bg-p13 { background-color: $p13; color: $p0; }
.bg-p14 { background-color: $p14; color: $p0; }
.bg-p15 { background-color: $p15; color: $p0; }
.bg-p16 { background-color: $p16; color: $p0; }
.bg-p17 { background-color: $p17; color: $p0; }
.bg-p18 { background-color: $p18; color: $p0; }
.bg-p19 { background-color: $p19; color: $p0; }
.bg-p20 { background-color: $p20; color: $p0; }
.bg-p21 { background-color: $p21; color: $p0; }
.bg-p22 { background-color: $p22; color: $p0; }
.bg-p23 { background-color: $p23; color: $p0; }

.bg-q0 { background-color: $q0; color: $q15;}
.bg-q1 { background-color: $q1; color: $q16; }
.bg-q2 { background-color: $q2; color: $q17; }
.bg-q3 { background-color: $q3; color: $q18;  }
.bg-q4 { background-color: $q4; color: $q19; }
.bg-q5 { background-color: $q5; color: $q20; }
.bg-q6 { background-color: $q6; color: $q20; }
.bg-q7 { background-color: $q7; color: $q20; }
.bg-q8 { background-color: $q8; color: $q20; }
.bg-q9 { background-color: $q9; color: $q0; }
.bg-q10 { background-color: $q10; color: $q0; }
.bg-q11 { background-color: $q11; color: $q0; }
.bg-q12 { background-color: $q12; color: $q0; }
.bg-q13 { background-color: $q13; color: $q0; }
.bg-q14 { background-color: $q14; color: $q0; }
.bg-q15 { background-color: $q15; color: $q0; }
.bg-q16 { background-color: $q16; color: $q0; }
.bg-q17 { background-color: $q17; color: $q0; }
.bg-q18 { background-color: $q18; color: $q0; }
.bg-q19 { background-color: $q19; color: $q0; }
.bg-q20 { background-color: $q20; color: $q0; }
.bg-q21 { background-color: $q21; color: $q0; }
.bg-q22 { background-color: $q22; color: $q0; }
.bg-q23 { background-color: $q23; color: $q0; }

.bg-r0 { background-color: $r0; color: $r15;}
.bg-r1 { background-color: $r1; color: $r16; }
.bg-r2 { background-color: $r2; color: $r17; }
.bg-r3 { background-color: $r3; color: $r18;  }
.bg-r4 { background-color: $r4; color: $r19; }
.bg-r5 { background-color: $r5; color: $r20; }
.bg-r6 { background-color: $r6; color: $r20; }
.bg-r7 { background-color: $r7; color: $r20; }
.bg-r8 { background-color: $r8; color: $r20; }
.bg-r9 { background-color: $r9; color: $r0; }
.bg-r10 { background-color: $r10; color: $r0; }
.bg-r11 { background-color: $r11; color: $r0; }
.bg-r12 { background-color: $r12; color: $r0; }
.bg-r13 { background-color: $r13; color: $r0; }
.bg-r14 { background-color: $r14; color: $r0; }
.bg-r15 { background-color: $r15; color: $r0; }
.bg-r16 { background-color: $r16; color: $r0; }
.bg-r17 { background-color: $r17; color: $r0; }
.bg-r18 { background-color: $r18; color: $r0; }
.bg-r19 { background-color: $r19; color: $r0; }
.bg-r20 { background-color: $r20; color: $r0; }
.bg-r21 { background-color: $r21; color: $r0; }
.bg-r22 { background-color: $r22; color: $r0; }
.bg-r23 { background-color: $r23; color: $r0; }

.bg-s0 { background-color: $s0; color: $s15;}
.bg-s1 { background-color: $s1; color: $s16; }
.bg-s2 { background-color: $s2; color: $s17; }
.bg-s3 { background-color: $s3; color: $s18;  }
.bg-s4 { background-color: $s4; color: $s19; }
.bg-s5 { background-color: $s5; color: $s20; }
.bg-s6 { background-color: $s6; color: $s20; }
.bg-s7 { background-color: $s7; color: $s20; }
.bg-s8 { background-color: $s8; color: $s20; }
.bg-s9 { background-color: $s9; color: $s0; }
.bg-s10 { background-color: $s10; color: $s0; }
.bg-s11 { background-color: $s11; color: $s0; }
.bg-s12 { background-color: $s12; color: $s0; }
.bg-s13 { background-color: $s13; color: $s0; }
.bg-s14 { background-color: $s14; color: $s0; }
.bg-s15 { background-color: $s15; color: $s0; }
.bg-s16 { background-color: $s16; color: $s0; }
.bg-s17 { background-color: $s17; color: $s0; }
.bg-s18 { background-color: $s18; color: $s0; }
.bg-s19 { background-color: $s19; color: $s0; }
.bg-s20 { background-color: $s20; color: $s0; }
.bg-s21 { background-color: $s21; color: $s0; }
.bg-s22 { background-color: $s22; color: $s0; }
.bg-s23 { background-color: $s23; color: $s0; }

.bg-t0 { background-color: $t0; color: $t15;}
.bg-t1 { background-color: $t1; color: $t16; }
.bg-t2 { background-color: $t2; color: $t17; }
.bg-t3 { background-color: $t3; color: $t18;  }
.bg-t4 { background-color: $t4; color: $t19; }
.bg-t5 { background-color: $t5; color: $t20; }
.bg-t6 { background-color: $t6; color: $t20; }
.bg-t7 { background-color: $t7; color: $t20; }
.bg-t8 { background-color: $t8; color: $t20; }
.bg-t9 { background-color: $t9; color: $t0; }
.bg-t10 { background-color: $t10; color: $t0; }
.bg-t11 { background-color: $t11; color: $t0; }
.bg-t12 { background-color: $t12; color: $t0; }
.bg-t13 { background-color: $t13; color: $t0; }
.bg-t14 { background-color: $t14; color: $t0; }
.bg-t15 { background-color: $t15; color: $t0; }
.bg-t16 { background-color: $t16; color: $t0; }
.bg-t17 { background-color: $t17; color: $t0; }
.bg-t18 { background-color: $t18; color: $t0; }
.bg-t19 { background-color: $t19; color: $t0; }
.bg-t20 { background-color: $t20; color: $t0; }
.bg-t21 { background-color: $t21; color: $t0; }
.bg-t22 { background-color: $t22; color: $t0; }
.bg-t23 { background-color: $t23; color: $t0; }

.bg-u0 { background-color: $u0; color: $u15;}
.bg-u1 { background-color: $u1; color: $u16; }
.bg-u2 { background-color: $u2; color: $u17; }
.bg-u3 { background-color: $u3; color: $u18;  }
.bg-u4 { background-color: $u4; color: $u19; }
.bg-u5 { background-color: $u5; color: $u20; }
.bg-u6 { background-color: $u6; color: $u20; }
.bg-u7 { background-color: $u7; color: $u20; }
.bg-u8 { background-color: $u8; color: $u20; }
.bg-u9 { background-color: $u9; color: $u0; }
.bg-u10 { background-color: $u10; color: $u0; }
.bg-u11 { background-color: $u11; color: $u0; }
.bg-u12 { background-color: $u12; color: $u0; }
.bg-u13 { background-color: $u13; color: $u0; }
.bg-u14 { background-color: $u14; color: $u0; }
.bg-u15 { background-color: $u15; color: $u0; }
.bg-u16 { background-color: $u16; color: $u0; }
.bg-u17 { background-color: $u17; color: $u0; }
.bg-u18 { background-color: $u18; color: $u0; }
.bg-u19 { background-color: $u19; color: $u0; }
.bg-u20 { background-color: $u20; color: $u0; }
.bg-u21 { background-color: $u21; color: $u0; }
.bg-u22 { background-color: $u22; color: $u0; }
.bg-u23 { background-color: $u23; color: $u0; }

.bg-v0 { background-color: $v0; color: $v15;}
.bg-v1 { background-color: $v1; color: $v16; }
.bg-v2 { background-color: $v2; color: $v17; }
.bg-v3 { background-color: $v3; color: $v18;  }
.bg-v4 { background-color: $v4; color: $v19; }
.bg-v5 { background-color: $v5; color: $v20; }
.bg-v6 { background-color: $v6; color: $v20; }
.bg-v7 { background-color: $v7; color: $v20; }
.bg-v8 { background-color: $v8; color: $v20; }
.bg-v9 { background-color: $v9; color: $v0; }
.bg-v10 { background-color: $v10; color: $v0; }
.bg-v11 { background-color: $v11; color: $v0; }
.bg-v12 { background-color: $v12; color: $v0; }
.bg-v13 { background-color: $v13; color: $v0; }
.bg-v14 { background-color: $v14; color: $v0; }
.bg-v15 { background-color: $v15; color: $v0; }
.bg-v16 { background-color: $v16; color: $v0; }
.bg-v17 { background-color: $v17; color: $v0; }
.bg-v18 { background-color: $v18; color: $v0; }
.bg-v19 { background-color: $v19; color: $v0; }
.bg-v20 { background-color: $v20; color: $v0; }
.bg-v21 { background-color: $v21; color: $v0; }
.bg-v22 { background-color: $v22; color: $v0; }
.bg-v23 { background-color: $v23; color: $v0; }

.bg-w0 { background-color: $w0; color: $w15;}
.bg-w1 { background-color: $w1; color: $w16; }
.bg-w2 { background-color: $w2; color: $w17; }
.bg-w3 { background-color: $w3; color: $w18;  }
.bg-w4 { background-color: $w4; color: $w19; }
.bg-w5 { background-color: $w5; color: $w20; }
.bg-w6 { background-color: $w6; color: $w20; }
.bg-w7 { background-color: $w7; color: $w20; }
.bg-w8 { background-color: $w8; color: $w20; }
.bg-w9 { background-color: $w9; color: $w0; }
.bg-w10 { background-color: $w10; color: $w0; }
.bg-w11 { background-color: $w11; color: $w0; }
.bg-w12 { background-color: $w12; color: $w0; }
.bg-w13 { background-color: $w13; color: $w0; }
.bg-w14 { background-color: $w14; color: $w0; }
.bg-w15 { background-color: $w15; color: $w0; }
.bg-w16 { background-color: $w16; color: $w0; }
.bg-w17 { background-color: $w17; color: $w0; }
.bg-w18 { background-color: $w18; color: $w0; }
.bg-w19 { background-color: $w19; color: $w0; }
.bg-w20 { background-color: $w20; color: $w0; }
.bg-w21 { background-color: $w21; color: $w0; }
.bg-w22 { background-color: $w22; color: $w0; }
.bg-w23 { background-color: $w23; color: $w0; }

.bg-x0 { background-color: $x0; color: $x15;}
.bg-x1 { background-color: $x1; color: $x16; }
.bg-x2 { background-color: $x2; color: $x17; }
.bg-x3 { background-color: $x3; color: $x18; }
.bg-x4 { background-color: $x4; color: $x19}
.bg-x5 { background-color: $x5; color: $x20}
.bg-x6 { background-color: $x6; color: $x20;}
.bg-x7 { background-color: $x7; color: $x20;}
.bg-x8 { background-color: $x8; color: $x20;}
.bg-x9 { background-color: $x9; color: $x0;}
.bg-x10 { background-color: $x10; color: $x0; }
.bg-x11 { background-color: $x11; color: $x0; }
.bg-x12 { background-color: $x12; color: $x0; }
.bg-x13 { background-color: $x13; color: $x0; }
.bg-x14 { background-color: $x14; color: $x0; }
.bg-x15 { background-color: $x15; color: $x0; }
.bg-x16 { background-color: $x16; color: $x0; }
.bg-x17 { background-color: $x17; color: $x0; }
.bg-x18 { background-color: $x18; color: $x0; }
.bg-x19 { background-color: $x19; color: $x0; }
.bg-x20 { background-color: $x20; color: $x0; }
.bg-x21 { background-color: $x21; color: $x0; }
.bg-x22 { background-color: $x22; color: $x0; }
.bg-x23 { background-color: $x23; color: $x0; }
