// colorscheme: B4T_Darwin by Bram de Haan
// author: Bram de Haan - https://github.com/atelierbram/Base4Tone
// https://github.com/atelierbram/Base4Tone-prism/blob/master/src/assets/sass/b4t_classic-d.scss

$B4T_a0:  hsl(22, 30%,  4%);
$B4T_a1:  hsl(22, 15%,  8%);
$B4T_a2:  hsl(22,  9%, 12%);
$B4T_a3:  hsl(22,  9%, 16%);
$B4T_a4:  hsl(22,  9%, 20%);
$B4T_a5:  hsl(22,  9%, 24%);
$B4T_a6:  hsl(22,  9%, 28%);
$B4T_a7:  hsl(22,  9%, 32%);
$B4T_a8:  hsl(22,  9%, 36%);
$B4T_a9:  hsl(22,  9%, 40%);
$B4T_a10: hsl(22,  9%, 44%);
$B4T_a11: hsl(22,  9%, 48%);
$B4T_a12: hsl(22,  9%, 52%);
$B4T_a13: hsl(22,  9%, 56%);
$B4T_a14: hsl(22,  9%, 60%);
$B4T_a15: hsl(22,  9%, 64%);
$B4T_a16: hsl(22,  9%, 68%);
$B4T_a17: hsl(22, 10%, 72%);
$B4T_a18: hsl(22, 11%, 76%);
$B4T_a19: hsl(22, 12%, 80%);
$B4T_a20: hsl(22, 13%, 84%);
$B4T_a21: hsl(22, 14%, 88%);
$B4T_a22: hsl(22, 15%, 92%);
$B4T_a23: hsl(22, 20%, 97%);

$B4T_A0:  hsl(22, 65%, 6%);
$B4T_A1:  hsl(22, 65%, 9%);
$B4T_A2:  hsl(22, 65%, 14%);
$B4T_A3:  hsl(22, 65%, 18%);
$B4T_A4:  hsl(22, 65%, 22%);
$B4T_A5:  hsl(22, 65%, 27%);
$B4T_A6:  hsl(22, 65%, 30%);
$B4T_A7:  hsl(22, 65%, 34%);
$B4T_A8:  hsl(22, 65%, 38%);
$B4T_A9:  hsl(22, 65%, 42%);
$B4T_A10: hsl(22, 65%, 46%);
$B4T_A11: hsl(22, 65%, 49%);
$B4T_A12: hsl(22, 70%, 51%);
$B4T_A13: hsl(22, 75%, 53%);
$B4T_A14: hsl(22, 75%, 57%);
$B4T_A15: hsl(22, 75%, 60%);
$B4T_A16: hsl(22, 75%, 62%);
$B4T_A17: hsl(22, 80%, 67%);
$B4T_A18: hsl(22, 80%, 71%);
$B4T_A19: hsl(22, 80%, 75%);
$B4T_A20: hsl(22, 80%, 80%);
$B4T_A21: hsl(22, 80%, 84%);
$B4T_A22: hsl(22, 80%, 89%);
$B4T_A23: hsl(22, 100%, 95%);

$B4T_b0:  hsl(52, 30%,  4%);
$B4T_b1:  hsl(52, 15%,  8%);
$B4T_b2:  hsl(52,  9%, 12%);
$B4T_b3:  hsl(52,  9%, 16%);
$B4T_b4:  hsl(52,  9%, 20%);
$B4T_b5:  hsl(52,  9%, 24%);
$B4T_b6:  hsl(52,  9%, 28%);
$B4T_b7:  hsl(52,  9%, 32%);
$B4T_b8:  hsl(52,  9%, 36%);
$B4T_b9:  hsl(52,  9%, 40%);
$B4T_b10: hsl(52,  9%, 44%);
$B4T_b11: hsl(52,  9%, 48%);
$B4T_b12: hsl(52,  9%, 52%);
$B4T_b13: hsl(52,  9%, 56%);
$B4T_b14: hsl(52,  9%, 60%);
$B4T_b15: hsl(52,  9%, 64%);
$B4T_b16: hsl(52,  9%, 68%);
$B4T_b17: hsl(52, 10%, 72%);
$B4T_b18: hsl(52, 11%, 76%);
$B4T_b19: hsl(52, 12%, 80%);
$B4T_b20: hsl(52, 13%, 84%);
$B4T_b21: hsl(52, 14%, 88%);
$B4T_b22: hsl(52, 15%, 92%);
$B4T_b23: hsl(52, 20%, 97%);

$B4T_B0:  hsl(52, 95%,  5%);
$B4T_B1:  hsl(52, 95%,  8%);
$B4T_B2:  hsl(52, 95%, 11%);
$B4T_B3:  hsl(52, 95%, 13%);
$B4T_B4:  hsl(52, 95%, 15%);
$B4T_B5:  hsl(52, 95%, 18%);
$B4T_B6:  hsl(52, 95%, 21%);
$B4T_B7:  hsl(52, 95%, 24%);
$B4T_B8:  hsl(52, 95%, 26%);
$B4T_B9:  hsl(52, 95%, 28%);
$B4T_B10: hsl(52, 95%, 30%);
$B4T_B11: hsl(52, 95%, 32%);
$B4T_B12: hsl(52, 95%, 33%);
$B4T_B13: hsl(52, 90%, 36%);
$B4T_B14: hsl(52, 90%, 38%);
$B4T_B15: hsl(52, 80%, 42%);
$B4T_B16: hsl(52, 80%, 45%);
$B4T_B17: hsl(52, 80%, 48%);
$B4T_B18: hsl(52, 80%, 50%);
$B4T_B19: hsl(52, 80%, 60%);
$B4T_B20: hsl(52, 80%, 75%);
$B4T_B21: hsl(52, 80%, 83%);
$B4T_B22: hsl(52, 80%, 89%);
$B4T_B23: hsl(52, 100%, 95%);

$B4T_c0:  hsl(82, 30%,  4%);
$B4T_c1:  hsl(82, 15%,  8%);
$B4T_c2:  hsl(82,  8%, 12%);
$B4T_c3:  hsl(82,  8%, 16%);
$B4T_c4:  hsl(82,  8%, 20%);
$B4T_c5:  hsl(82,  8%, 24%);
$B4T_c6:  hsl(82,  8%, 28%);
$B4T_c7:  hsl(82,  8%, 32%);
$B4T_c8:  hsl(82,  8%, 36%);
$B4T_c9:  hsl(82,  8%, 40%);
$B4T_c10: hsl(82,  8%, 44%);
$B4T_c11: hsl(82,  8%, 48%);
$B4T_c12: hsl(82,  8%, 52%);
$B4T_c13: hsl(82,  8%, 56%);
$B4T_c14: hsl(82,  8%, 60%);
$B4T_c15: hsl(82,  8%, 64%);
$B4T_c16: hsl(82,  9%, 68%);
$B4T_c17: hsl(82, 10%, 72%);
$B4T_c18: hsl(82, 11%, 76%);
$B4T_c19: hsl(82, 12%, 80%);
$B4T_c20: hsl(82, 13%, 84%);
$B4T_c21: hsl(82, 14%, 88%);
$B4T_c22: hsl(82, 15%, 92%);
$B4T_c23: hsl(82, 20%, 97%);

$B4T_C0:  hsl(82, 95%,  5%);
$B4T_C1:  hsl(82, 95%,  8%);
$B4T_C2:  hsl(82, 95%, 11%);
$B4T_C3:  hsl(82, 95%, 13%);
$B4T_C4:  hsl(82, 95%, 15%);
$B4T_C5:  hsl(82, 95%, 18%);
$B4T_C6:  hsl(82, 95%, 21%);
$B4T_C7:  hsl(82, 95%, 24%);
$B4T_C8:  hsl(82, 95%, 26%);
$B4T_C9:  hsl(82, 95%, 28%);
$B4T_C10: hsl(82, 95%, 30%);
$B4T_C11: hsl(82, 95%, 32%);
$B4T_C12: hsl(82, 95%, 33%);
$B4T_C13: hsl(82, 90%, 36%);
$B4T_C14: hsl(82, 90%, 38%);
$B4T_C15: hsl(82, 80%, 42%);
$B4T_C16: hsl(82, 80%, 45%);
$B4T_C17: hsl(82, 80%, 48%);
$B4T_C18: hsl(82, 80%, 50%);
$B4T_C19: hsl(82, 80%, 63%);
$B4T_C20: hsl(82, 80%, 75%);
$B4T_C21: hsl(82, 80%, 83%);
$B4T_C22: hsl(82, 80%, 89%);
$B4T_C23: hsl(82, 100%, 95%);

$B4T_d0:  hsl(172, 30%,  4%);
$B4T_d1:  hsl(172, 15%,  8%);
$B4T_d2:  hsl(172, 11%, 12%);
$B4T_d3:  hsl(172, 11%, 16%);
$B4T_d4:  hsl(172, 11%, 20%);
$B4T_d5:  hsl(172, 11%, 24%);
$B4T_d6:  hsl(172, 11%, 28%);
$B4T_d7:  hsl(172, 11%, 32%);
$B4T_d8:  hsl(172, 11%, 36%);
$B4T_d9:  hsl(172, 11%, 40%);
$B4T_d10: hsl(172, 11%, 44%);
$B4T_d11: hsl(172, 11%, 48%);
$B4T_d12: hsl(172, 11%, 52%);
$B4T_d13: hsl(172, 11%, 56%);
$B4T_d14: hsl(172, 11%, 60%);
$B4T_d15: hsl(172, 11%, 64%);
$B4T_d16: hsl(172, 11%, 68%);
$B4T_d17: hsl(172, 11%, 72%);
$B4T_d18: hsl(172, 11%, 76%);
$B4T_d19: hsl(172, 12%, 80%);
$B4T_d20: hsl(172, 13%, 84%);
$B4T_d21: hsl(172, 14%, 88%);
$B4T_d22: hsl(172, 15%, 92%);
$B4T_d23: hsl(172, 20%, 97%);

$B4T_D0:  hsl(172, 100%,  5%);
$B4T_D1:  hsl(172, 100%,  8%);
$B4T_D2:  hsl(172, 100%, 11%);
$B4T_D3:  hsl(172, 100%, 13%);
$B4T_D4:  hsl(172, 100%, 15%);
$B4T_D5:  hsl(172, 100%, 17%);
$B4T_D6:  hsl(172, 100%, 20%);
$B4T_D7:  hsl(172, 100%, 22%);
$B4T_D8:  hsl(172, 100%, 24%);
$B4T_D9:  hsl(172, 100%, 25%);
$B4T_D10: hsl(172, 100%, 27%);
$B4T_D11: hsl(172,  95%, 30%);
$B4T_D12: hsl(172,  85%, 33%);
$B4T_D13: hsl(172,  75%, 37%);
$B4T_D14: hsl(172,  75%, 39%);
$B4T_D15: hsl(172,  75%, 42%);
$B4T_D16: hsl(172,  75%, 44%);
$B4T_D17: hsl(172,  75%, 47%);
$B4T_D18: hsl(172,  70%, 52%);
$B4T_D19: hsl(172,  70%, 63%);
$B4T_D20: hsl(172,  70%, 75%);
$B4T_D21: hsl(172,  70%, 81%);
$B4T_D22: hsl(172,  70%, 88%);
$B4T_D23: hsl(172,  100%, 96%);

