// colorscheme: B4T_Kauai by Bram de Haan
// author: Bram de Haan - https://github.com/atelierbram/Base4Tone
// https://github.com/atelierbram/Base4Tone-prism/blob/master/src/assets/sass/b4t_classic-u.scss

$B4T_a0:  hsl(277, 28%,  4%);
$B4T_a1:  hsl(277, 13%,  8%);
$B4T_a2:  hsl(277,  5%, 12%);
$B4T_a3:  hsl(277,  5%, 16%);
$B4T_a4:  hsl(277,  5%, 20%);
$B4T_a5:  hsl(277,  5%, 24%);
$B4T_a6:  hsl(277,  5%, 28%);
$B4T_a7:  hsl(277,  5%, 32%);
$B4T_a8:  hsl(277,  5%, 36%);
$B4T_a9:  hsl(277,  5%, 40%);
$B4T_a10: hsl(277,  5%, 44%);
$B4T_a11: hsl(277,  5%, 48%);
$B4T_a12: hsl(277,  5%, 52%);
$B4T_a13: hsl(277,  5%, 56%);
$B4T_a14: hsl(277,  5%, 60%);
$B4T_a15: hsl(277,  6%, 64%);
$B4T_a16: hsl(277,  7%, 68%);
$B4T_a17: hsl(277,  8%, 72%);
$B4T_a18: hsl(277,  9%, 76%);
$B4T_a19: hsl(277, 10%, 80%);
$B4T_a20: hsl(277, 11%, 84%);
$B4T_a21: hsl(277, 12%, 88%);
$B4T_a22: hsl(277, 13%, 92%);
$B4T_a23: hsl(277, 18%, 97%);

$B4T_A0:  hsl(277, 65%,  6%);
$B4T_A1:  hsl(277, 65%, 13%);
$B4T_A2:  hsl(277, 65%, 19%);
$B4T_A3:  hsl(277, 65%, 23%);
$B4T_A4:  hsl(277, 65%, 26%);
$B4T_A5:  hsl(277, 65%, 30%);
$B4T_A6:  hsl(277, 65%, 34%);
$B4T_A7:  hsl(277, 65%, 40%);
$B4T_A8:  hsl(277, 65%, 47%);
$B4T_A9:  hsl(277, 65%, 53%);
$B4T_A10: hsl(277, 65%, 55%);
$B4T_A11: hsl(277, 65%, 57%);
$B4T_A12: hsl(277, 70%, 60%);
$B4T_A13: hsl(277, 75%, 62%);
$B4T_A14: hsl(277, 75%, 64%);
$B4T_A15: hsl(277, 75%, 67%);
$B4T_A16: hsl(277, 75%, 71%);
$B4T_A17: hsl(277, 80%, 74%);
$B4T_A18: hsl(277, 80%, 78%);
$B4T_A19: hsl(277, 80%, 82%);
$B4T_A20: hsl(277, 80%, 85%);
$B4T_A21: hsl(277, 80%, 88%);
$B4T_A22: hsl(277, 80%, 91%);
$B4T_A23: hsl(277, 100%, 95%);

$B4T_b0:  hsl(307, 28%,  4%);
$B4T_b1:  hsl(307, 13%,  8%);
$B4T_b2:  hsl(307,  5%, 12%);
$B4T_b3:  hsl(307,  5%, 16%);
$B4T_b4:  hsl(307,  5%, 20%);
$B4T_b5:  hsl(307,  5%, 24%);
$B4T_b6:  hsl(307,  5%, 28%);
$B4T_b7:  hsl(307,  5%, 32%);
$B4T_b8:  hsl(307,  5%, 36%);
$B4T_b9:  hsl(307,  5%, 40%);
$B4T_b10: hsl(307,  5%, 44%);
$B4T_b11: hsl(307,  5%, 48%);
$B4T_b12: hsl(307,  5%, 52%);
$B4T_b13: hsl(307,  5%, 56%);
$B4T_b14: hsl(307,  5%, 60%);
$B4T_b15: hsl(307,  6%, 64%);
$B4T_b16: hsl(307,  7%, 68%);
$B4T_b17: hsl(307,  8%, 72%);
$B4T_b18: hsl(307,  9%, 76%);
$B4T_b19: hsl(307, 10%, 80%);
$B4T_b20: hsl(307, 11%, 84%);
$B4T_b21: hsl(307, 12%, 88%);
$B4T_b22: hsl(307, 13%, 92%);
$B4T_b23: hsl(307, 18%, 97%);

$B4T_B0:  hsl(307, 65%, 5%);
$B4T_B1:  hsl(307, 65%, 10%);
$B4T_B2:  hsl(307, 65%, 15%);
$B4T_B3:  hsl(307, 65%, 18%);
$B4T_B4:  hsl(307, 65%, 21%);
$B4T_B5:  hsl(307, 65%, 26%);
$B4T_B6:  hsl(307, 65%, 29%);
$B4T_B7:  hsl(307, 65%, 33%);
$B4T_B8:  hsl(307, 65%, 39%);
$B4T_B9:  hsl(307, 65%, 45%);
$B4T_B10: hsl(307, 65%, 49%);
$B4T_B11: hsl(307, 65%, 52%);
$B4T_B12: hsl(307, 70%, 56%);
$B4T_B13: hsl(307, 75%, 60%);
$B4T_B14: hsl(307, 75%, 62%);
$B4T_B15: hsl(307, 75%, 65%);
$B4T_B16: hsl(307, 75%, 69%);
$B4T_B17: hsl(307, 80%, 72%);
$B4T_B18: hsl(307, 80%, 76%);
$B4T_B19: hsl(307, 80%, 80%);
$B4T_B20: hsl(307, 80%, 83%);
$B4T_B21: hsl(307, 80%, 87%);
$B4T_B22: hsl(307, 80%, 91%);
$B4T_B23: hsl(307, 100%, 95%);

$B4T_c0:  hsl(352, 27%,  4%);
$B4T_c1:  hsl(352, 12%,  8%);
$B4T_c2:  hsl(352,  5%, 12%);
$B4T_c3:  hsl(352,  5%, 16%);
$B4T_c4:  hsl(352,  5%, 20%);
$B4T_c5:  hsl(352,  5%, 24%);
$B4T_c6:  hsl(352,  5%, 28%);
$B4T_c7:  hsl(352,  5%, 32%);
$B4T_c8:  hsl(352,  5%, 36%);
$B4T_c9:  hsl(352,  5%, 40%);
$B4T_c10: hsl(352,  5%, 44%);
$B4T_c11: hsl(352,  5%, 48%);
$B4T_c12: hsl(352,  5%, 52%);
$B4T_c13: hsl(352,  5%, 56%);
$B4T_c14: hsl(352,  5%, 60%);
$B4T_c15: hsl(352,  5%, 64%);
$B4T_c16: hsl(352,  6%, 68%);
$B4T_c17: hsl(352,  7%, 72%);
$B4T_c18: hsl(352,  8%, 76%);
$B4T_c19: hsl(352,  9%, 80%);
$B4T_c20: hsl(352, 10%, 84%);
$B4T_c21: hsl(352, 11%, 88%);
$B4T_c22: hsl(352, 12%, 92%);
$B4T_c23: hsl(352, 17%, 97%);

$B4T_C0:  hsl(352, 65%,  6%);
$B4T_C1:  hsl(352, 65%, 11%);
$B4T_C2:  hsl(352, 65%, 16%);
$B4T_C3:  hsl(352, 65%, 20%);
$B4T_C4:  hsl(352, 65%, 24%);
$B4T_C5:  hsl(352, 65%, 29%);
$B4T_C6:  hsl(352, 65%, 32%);
$B4T_C7:  hsl(352, 65%, 35%);
$B4T_C8:  hsl(352, 65%, 40%);
$B4T_C9:  hsl(352, 65%, 45%);
$B4T_C10: hsl(352, 65%, 51%);
$B4T_C11: hsl(352, 65%, 54%);
$B4T_C12: hsl(352, 70%, 57%);
$B4T_C13: hsl(352, 75%, 60%);
$B4T_C14: hsl(352, 75%, 62%);
$B4T_C15: hsl(352, 75%, 65%);
$B4T_C16: hsl(352, 75%, 69%);
$B4T_C17: hsl(352, 80%, 72%);
$B4T_C18: hsl(352, 80%, 76%);
$B4T_C19: hsl(352, 80%, 80%);
$B4T_C20: hsl(352, 80%, 83%);
$B4T_C21: hsl(352, 80%, 87%);
$B4T_C22: hsl(352, 80%, 91%);
$B4T_C23: hsl(352, 100%, 95%);

$B4T_d0:  hsl(22, 30%,  4%);
$B4T_d1:  hsl(22, 15%,  8%);
$B4T_d2:  hsl(22,  9%, 12%);
$B4T_d3:  hsl(22,  9%, 16%);
$B4T_d4:  hsl(22,  9%, 20%);
$B4T_d5:  hsl(22,  9%, 24%);
$B4T_d6:  hsl(22,  9%, 28%);
$B4T_d7:  hsl(22,  9%, 32%);
$B4T_d8:  hsl(22,  9%, 36%);
$B4T_d9:  hsl(22,  9%, 40%);
$B4T_d10: hsl(22,  9%, 44%);
$B4T_d11: hsl(22,  9%, 48%);
$B4T_d12: hsl(22,  9%, 52%);
$B4T_d13: hsl(22,  9%, 56%);
$B4T_d14: hsl(22,  9%, 60%);
$B4T_d15: hsl(22,  9%, 64%);
$B4T_d16: hsl(22,  9%, 68%);
$B4T_d17: hsl(22, 10%, 72%);
$B4T_d18: hsl(22, 11%, 76%);
$B4T_d19: hsl(22, 12%, 80%);
$B4T_d20: hsl(22, 13%, 84%);
$B4T_d21: hsl(22, 14%, 88%);
$B4T_d22: hsl(22, 15%, 92%);
$B4T_d23: hsl(22, 20%, 97%);

$B4T_D0:  hsl(22, 65%, 6%);
$B4T_D1:  hsl(22, 65%, 9%);
$B4T_D2:  hsl(22, 65%, 14%);
$B4T_D3:  hsl(22, 65%, 18%);
$B4T_D4:  hsl(22, 65%, 22%);
$B4T_D5:  hsl(22, 65%, 27%);
$B4T_D6:  hsl(22, 65%, 30%);
$B4T_D7:  hsl(22, 65%, 34%);
$B4T_D8:  hsl(22, 65%, 38%);
$B4T_D9:  hsl(22, 65%, 42%);
$B4T_D10: hsl(22, 65%, 46%);
$B4T_D11: hsl(22, 65%, 49%);
$B4T_D12: hsl(22, 70%, 51%);
$B4T_D13: hsl(22, 75%, 53%);
$B4T_D14: hsl(22, 75%, 57%);
$B4T_D15: hsl(22, 75%, 60%);
$B4T_D16: hsl(22, 75%, 62%);
$B4T_D17: hsl(22, 80%, 67%);
$B4T_D18: hsl(22, 80%, 71%);
$B4T_D19: hsl(22, 80%, 75%);
$B4T_D20: hsl(22, 80%, 80%);
$B4T_D21: hsl(22, 80%, 84%);
$B4T_D22: hsl(22, 80%, 89%);
$B4T_D23: hsl(22, 100%, 95%);

