@font-face {
  font-family: 'infiniregular';
  src: url('//base2t.one/assets/fonts/infini/infini-romain.woff2') format('woff2'),
       url('//base2t.one/assets/fonts/infini/infini-romain.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family:"Farro Regular";
    src:url("../fonts/farro/Farro-Regular.woff2") format("woff2"),
        url("../fonts/farro/Farro-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family:"Farro Light";
    src:url("../fonts/farro/Farro-Light.woff2") format("woff2"),
        url("../fonts/farro/Farro-Light.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family:"Farro Medium";
    src:url("../fonts/farro/Farro-Medium.woff2") format("woff2"),
        url("../fonts/farro/Farro-Medium.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family:"Farro Bold";
    src:url("../fonts/farro/Farro-Bold.woff2") format("woff2"),
        url("../fonts/farro/Farro-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}


